[2011-12-03 15:52] esteele opened #1 "Trigger the coredev builds when changes are pushed to packages"
Pulled from our readme...
- Plone coredev is currently triggered on each github commit to the core repo
  no matter to which branch. This leads to load problems on jenkins.plone.org.
  As far as I understood the discussion on that topic the best way to
  accomplish this is a small piece of component that sits in between github
  and jenkins and can decide which commit should trigger a build. Anoth

[2011-12-03 16:01] esteele opened #2 "Push test results to the developers"
Let's get the results of the core builds out to the core developers.

Emails should only be sent when:
1) A test starts failing
2) A test stops failing
3) The buildout process breaks

If we have too much noise, people will begin ignoring it. Right now, there's too little and nobody pays attention.

[2012-01-05 16:53] garbas opened #3 "problem when running jobs on Slave"
i'm trying to get deco tests alive on jenkins.plone.org, but i have
problems running them on Slave(Eunuch 1).

when trying to build it on Slave i get "FATAL: Unable to delete script
file /tmp/hudson4644287617803228246.sh", full log ->
https://jenkins.plone.org/view/Plone%20Core%20Projects/job/Deco/24/console

while on master its built fine ->
https://jenkins.plone.org/view/Plone%20Core%20Projects/

[2012-01-11 16:46] tisto opened #4 "System monitoring for jenkins.plone.org"
I would like to have some kind of system monitoring service on jenkins.plone.org (and for the slave(s) as well). I would like to know how the machines handle the test load and to see if we need more machines.

Munin is easy to set up and will give us enough information. Any objections to that? Any takers?

I guess we don't have any fabric scripts or something similiar to set up jenkins.plone.org o

[2012-01-13 07:17] tisto opened #5 "jenkins.plone.org: Error 500 (java.lang.OutOfMemoryError: GC overhead limit exceeded)"
Status Code: 500
Exception:
Stacktrace:

org.apache.commons.jelly.JellyTagException: jar:file:/var/cache/jenkins/war/WEB-INF/lib/jenkins-core-1.446.jar!/hudson/model/View/index.jelly:39:43: st:include java.lang.OutOfMemoryError: GC overhead limit exceeded
    at org.apache.commons.jelly.impl.TagScript.handleException(TagScript.java:716)
    at org.apache.commons.jelly.impl.TagScript.run(TagScript.

[2012-01-13 07:32] #5 closed, assigned to nobody

[2012-01-13 07:43] #3 closed, assigned to nobody

[2012-04-13 10:18] tisto opened #6 "Create an ecosystem Jenkins job."
Create a Jenkins job that runs on a nightly basis for:

https://github.com/plone/buildout.coredev/blob/4.2/ecosystem.cfg

Send an email to davisagli.

[2012-04-13 10:19] tisto opened #7 "Check packages README files for restructured text compliance."
Maybe the code analysis job can run this check.

[2012-04-13 10:20] tisto opened #8 "Include z3c.checkversions into the Jenkins buildout."
http://pypi.python.org/pypi/z3c.checkversions/0.4.1

[2012-04-15 08:36] tisto opened #9 "Add jslint tests to buildout.jenkins."

[2012-04-15 12:33] tisto opened #10 "Github post-commit hook is broken due to an outdated ssl certificate on jenkins.plone.org"
$ wget https://github:<github-password>@jenkins.plone.org/job/plone-4.2/build
--2012-04-15 14:30:50--  https://github:_password_@jenkins.plone.org/job/plone-4.2/build
Auflösen des Hostnamen »jenkins.plone.org«... 81.90.66.139
Verbindungsaufbau zu jenkins.plone.org|81.90.66.139|:443... verbunden.
FEHLER: Kann das Zertifikat von »jenkins.plone.org« nicht prüfen, ausgestellt von »»/C=US/O=Equifax Sec

[2012-04-15 15:15] #10 closed, assigned to nobody

[2012-04-17 08:50] tisto opened #11 "Run Plone 4.2 Jenkins job against multiple Python versions (2.6 and 2.7 for now)."
http://blog.shiningpanda.com/2011/11/python-multiple-versions-testing-with.html

[2012-04-22 11:06] tisto opened #12 "Create a Jenkins job for PLIPs"

[2012-05-27 07:46] tisto opened #13 "Investigate/discuss possibility to using pre-tested commits to stop breaking stable branches."
http://blog.cloudbees.com/2012/03/dont-phunk-with-my-stable-branch.html

[2012-06-20 09:29] tisto opened #14 "Use better email templates for successful/failed builds."
Investigate different ways to use templates for emails with:

https://wiki.jenkins-ci.org/display/JENKINS/Email-ext+plugin

[2012-07-09 13:46] tisto opened #15 "Some packages do not have a proper github post-commit hook (plone.app.layout)."
e.g.

https://github.com/plone/plone.app.layout/admin/hooks

The package is in souces.cfg:

https://github.com/plone/buildout.coredev/blob/12b968ea7c607682208dcb28986b972240fa2684/sources.cfg

[2012-07-10 17:21] #15 closed, assigned to tisto

[2012-07-10 17:22] #11 closed, assigned to nobody

[2012-07-10 17:22] #1 closed, assigned to nobody

[2012-08-18 16:49] domenkozar opened #16 "undefined symbol: PyUnicodeUCS4_AsEncodedString"
https://jenkins.plone.org/job/Products.TinyMCE/PLONE_VERSION=4.0.x,label=Slave/105/console

[2012-08-18 17:18] #16 closed, assigned to nobody

[2012-09-08 05:46] tisto opened #17 "Run selenium tests on jenkins.plone.org"

[2012-10-17 15:26] tisto opened #18 "Install an eggproxy on the jenkins machines."
http://pypi.python.org/pypi/collective.eggproxy

[2012-11-21 07:48] tisto opened #19 "jshint issue on jenkins.plone.org slaves: Error: Cannot find module './../lib/cli'"
https://jenkins.plone.org/view/Plone%20Core%20Projects/job/deco/282/console

[2012-11-23 06:35] tisto opened #20 "PIL is not properly installed for Python 2.6 on slave1 (slave2 works fine)."
https://jenkins.plone.org/job/plone-4.2-python-2.6/141/

[2012-12-06 17:17] tisto opened #21 "Find a way to re-run a Jenkins job when buildout failed and no test have been run."
Maybe we can extend the Jenkins naginator plugin.

[2013-03-08 18:12] senner opened #22 "Jenkins VM donation"
All,
We'd be happy to donate some CPU power.  We have a cluster here that'd be perfect for it, the caveat is that it does get rebooted from time to time as we are making updates/changes in the configurations and we'll have to do the jenkins launch slave agent headlessly option as there is no inbound access as that IP will be changing.  We can give out a bunch of CPU cores and storage though.

We'd

[2013-03-10 01:56] esteele opened #23 "jenkins.plone.org timeout when accessing via https"
http://jenkins.plone.org works fine.

[2013-03-18 15:19] esteele opened #24 "Look into BuildHeroes"
Looks like a fun addition to our testing stack. http://buildheroes.com/
Jenkins integration exists.

[2013-03-18 15:22] tisto opened #25 "Fix tmpreaper on the slaves"
tmpreaper is installed but it seems it is not properly configured.

[2013-03-30 16:57] tisto opened #26 "Robot framework tests do not show up properly in the Jenkins job view"
There are 7 robot tests in p.a.contenttypes:

http://jenkins.plone.org/view/All/job/plone-4.3-plone-app-contenttypes/

Though, only one test shows up in the job view:

http://jenkins.plone.org/view/All/job/plone-4.3-plone-app-contenttypes/

@datakurre Any idea how to solve this?

[2013-03-30 18:31] #26 closed, assigned to nobody

[2013-05-27 07:26] tisto opened #27 "Create Jenkins jobs for zopeskel/templer"

[2013-06-11 22:10] #23 closed, assigned to nobody

[2013-06-23 06:37] #20 closed, assigned to nobody

[2013-06-23 06:39] #18 closed, assigned to nobody

[2013-06-23 06:39] #25 closed, assigned to nobody

[2013-06-23 06:44] tisto opened #28 "Code analysis pre-commit hook for coredev and collective packages."
I created a pre-commit hook for p.a.contenttypes that is automatically installed by buildout and that checks committed code:

https://github.com/plone/plone.app.contenttypes/blob/master/pre-commit-hook.cfg

We should refactor that code into a buildout recipe so it can be used easily by other coredev or collective packages.

[2013-06-23 07:03] tisto opened #29 "Create SauceLabs Jenkins jobs for the coredev builds to test different browsers."
We already created some SauceLabs jobs:

https://jenkins.plone.org/view/All/job/plone-4.3-python-2.7-robot-windows-2003-chrome24/
https://jenkins.plone.org/view/All/job/plone-4.3-python-2.7-robot-windows-2003-ie9/

We had some manually created jobs running at the Barcelona sprint.

@jone @garbas: You worked on that during the sprint, right? Do you have time to make that work again?

[2013-06-23 08:13] tisto opened #30 "Fix failing Plone 4.2 tests"
There is currently one test failure in the Python 2.7 job:

https://jenkins.plone.org/job/plone-4.2-python-2.7/665/testReport/src.collective.z3cform/datetimewidget/issues_txt/

It seems the issue has been fixed in c.z3cform.datetimewidget:

https://github.com/collective/collective.z3cform.datetimewidget/commit/76b7751cc8b01fbf7d53e1e9cc52d95db0d4c2be

@esteele: Can we use the latest c.z3cform.date

[2013-06-24 09:36] #30 closed, assigned to nobody

[2013-06-27 07:55] tisto opened #31 "Set up a new private Jenkins instance for the security team."

[2013-06-27 07:55] tisto opened #32 "Set up a new private Jenkins instance for the release team."

[2013-06-27 07:59] tisto opened #33 "Make a list of all Plone core packages that needs to be migrated to plone.app.testing."
Afterwards we should think about ways to actually migrate those packages to plone.app.testing.

[2013-07-01 20:51] bloodbare opened #34 "Future of Mr.Roboto"
Now is taking care or all hooks on GH and launching the jobs that are needed. It takes care of a DB of plips that allow to create jobs/plip.

What should be the future of Mr.Roboto:

* creating a standalone configuration for singlepackage testing ( is not Travis doing this?)

* Pull request tests ??

* Saving the history of broken commits and working commits for plone.org stats.

* A way that peop

[2013-07-02 09:47] bloodbare opened #35 "Adding Plone 5 to mr.roboto"
Adding plone 5 core-dev to mr.roboto

[2013-07-02 17:55] #17 closed, assigned to nobody

[2013-07-02 17:56] #14 closed, assigned to nobody

[2013-07-02 18:00] #6 closed, assigned to nobody

[2013-07-02 18:44] bloodbare opened #36 "Testing pull requests with mr.roboto and pushing to use pulls instead of commits"

[2013-07-02 19:39] tisto opened #37 "Create a testing documentation."
Best practices and examples for unit/integration tests, functional zope.testbrowser and robot framework tests.

[2013-07-03 04:56] tisto opened #38 "Define and implement best practice for running Javascript unit tests."
Asko wrote #37: And something we are completely missing: best practices for writing and running javascript unit tests. Ross made Buster.JS integration for zope.testrunner during SeaSprint, but Rok prefers pure javascript-tools. @garbas, how would you integrate plone.mockup tests for Jenkins?

[2013-07-03 08:49] datakurre opened #39 "Build vagrant box to be used as temporary jenkins slaves during sprints"
Not a priority.

A way that people could create themselves as slaves that serve jenkins on sprints. People can download the vagrant installation of plone and connect with jenkins with a Reverse SSH tunnel and allow to be used as slaves. Mr.roboto could check and take care about this.

@bloodbare should figure out, how those slaves could register themselves in a secure manner. @datakurre could do t

[2013-07-08 20:00] #35 closed, assigned to bloodbare

[2013-07-25 07:23] tisto opened #40 "New plone packages on github are not automatically added to the CVS mailinglist"

[2013-07-28 15:32] esteele opened #41 "Errors in test runs ignored by reports"
See: https://jenkins.plone.org/job/plone-4.3-python-2.7/1042/console

Only 9 failures listed, but 1000+ fewer tests reported because errors are preventing them from being run.

[2013-09-18 10:15] tisto opened #42 "alltests returns wrong number of test failures to Jenkins"
If multiple tests from different packages fail in an alltests test group Jenkins does not show all test failures.

[2013-09-25 12:25] tisto opened #43 "Build egg dependency graph with Jenkins job"
Use https://pypi.python.org/pypi/tl.eggdeps to create a dependency graph of all buildout.coredev eggs. The simplest solution is to create a Jenkins artifact with the text output of tl.eggdeps. Not sure how much effort it would be to build and show a graphviz representation.

[2013-09-25 14:46] #33 closed, assigned to hvelarde

[2013-09-26 10:31] tisto opened #44 "Allow Plone core developers to restart a Jenkins job."
Currently there is no way a Plone core developer can restart a coredev job on Jenkins without a "dummy" commit. We have to find a way to allow that. Granting anonymous users the right to restart a job is too risky, therefore I guess we somehow have to enable LDAP authentication, right?

[2013-10-06 16:28] svx opened #45 "double entry in slave.py"
setting locales in line 35 is not needed because of the setting in 72 - 75

[2013-10-06 18:11] #45 closed, assigned to nobody

[2013-10-08 15:33] svx opened #46 "slave.py - sytem clean after slave building"
we should clean the package cache and old libs after we run the install of a client, we also should purge packages, this will give us a cleaner system

[2013-10-08 20:03] svx opened #48 "slave.py python2.7"
python2.7 is per default installed we do not need to do that again via setup.py

[2013-10-08 20:23] svx opened #49 "slave.py"
line 171 is not needed because there are already installed, through the script

[2013-10-09 02:20] #46 closed, assigned to nobody

[2013-11-15 23:20] davisagli opened #51 "Run tests for Archetypes-based packages in a different job for Plone 5"
What would it take for us to move the tests for Archetypes-based packages to a separate job that is only triggered once the main job completes? We should still test compatibility with these packages for now, but they are lower priority, and separating them would make it possible to give feedback more quickly on failures in the main codebase.

I guess it would mean adding new buildout parts (test-a

[2013-11-17 08:10] #43 closed, assigned to tisto

[2013-11-25 07:38] tisto opened #52 "jenkins.plone.org master is very slow lately."
@bloodbare Do we have some kind of monitoring installed on master? Do you have any idea why this is the case?

[2013-11-27 18:02] davisagli opened #53 "wrong configuration for plone.app.widgets plip job"
The plone.app.widgets plip job isn't running the correct set of commands. It's running the wrong buildout and the wrong test command. It should be running this:

[code]

(plip cfg, not jenkins.cfg, and jenkins-alltests instead of jenkins-test)

I don't know how to change the configuration without it getting overwritten. What needs to happen?

[2013-12-16 08:18] tisto opened #54 "Create a button/link that makes it easy to revert commits that broke the last build."
Could be a button in mr.roboto or a link or git statement within an email that is send by mr.roboto.

[2014-01-27 08:18] svx opened #55 "slave.py: change pil to pillow ?"
is there are a reason why we still depend on pil ? if we could use pillow we would be able to change the way of testing and installing python2.6 and 2.7 which would make the install faster, slave.py shorter, and we would not have to mess with system libs.

[2014-02-20 23:37] gforcada opened #56 "install graphviz on all slaves"
During Cathedral sprint 2014 I wrote some shells scripts that helps keeping track of distribution dependencies and usages.

One of them converts a .dot file (plain text) to a nice graph that is archived for later reference.

To make this conversion graphviz is needed (upon installation a dot command line tool is installed).

During the sprint mentioned above Timo installed graphviz on Slave1 but s

[2014-03-24 07:33] tisto opened #57 "Make sure packages are always listed in auto-checkout if they have changes."
The problem:

1) Someone commits to a Plone package that is not in auto-checkout
2) Someone else adds this package to auto-checkout because she wants to work on it or make a release
3) The Jenkins tests fail on 2) not on 1).

=> It is hard to figure out which person/commit broke the build
=> The person who broke the test is most likely not the person who will fix the problem
=> It is a lot harder

[2014-04-01 14:19] svx opened #58 "User on slaves"
At the moment we create a user 'Ramon' on the slaves/clients would it makes sense to use a 'neutral' user .
 Sorry @bloodbare I just thinking about mainline the setup :)

[2014-07-29 13:48] #56 closed, assigned to nobody

[2015-02-11 09:12] gforcada opened #60 "Add authorized_keys"
Once https://github.com/plone/plone.jenkins_server/issues/9 is fixed, override that file with the public keys of CI/sysadmin keys.

[2015-02-11 09:44] tisto opened #61 "Set # of executors on master to 0"
http://78.47.49.108:8080/configure

[2015-02-13 06:29] tisto opened #62 "Create sphinx-based documentation."
Upload to readthedocs or later include it into the coredev docs.

[2015-02-13 06:31] tisto opened #63 "Create Jenkins job for pull request with JJB"
We need a Jenkins job to manually test pull request. Pass URL of the pull request and URL of the repository to the Jenkins job together with your e-mail address.

Jenkins will run buildout.coredev with your pull request and send you an email with the result.

Starting point: http://jenkins.plone.org/job/plone-5.0-python-2.7-test-pull-request/

We should implement that with Jenkins Job Builder righ

[2015-02-13 06:32] tisto opened #64 "Create dependency Jenkins jobs with JJB"
http://jenkins.plone.org/view/Dependencies/

[2015-02-13 06:32] tisto opened #65 "Create theme tests with JJB."
http://jenkins.plone.org/view/Theme/

[2015-02-13 06:33] tisto opened #66 "Create saucelabs tests with JJB."
http://jenkins.plone.org/view/Sauce%20Labs/

We should probably talk to @datakurre about that.

[2015-02-13 06:39] tisto opened #67 "Evaluate Jenkins Workflow Plugin"

[2015-02-13 08:53] datakurre commented on #66
Sure! I'm interested in learning JJB, but have been busy lately :/

Timo Stollenwerk kirjoitti pe helmikuuta 13 08:33:51 2015 GMT+0200:

[2015-02-13 10:52] gforcada commented on #63
There's a jenkins plugin for testing pull requests: https://wiki.jenkins-ci.org/display/JENKINS/GitHub+pull+request+builder+plugin maybe that's also a starting point to investigate...

[2015-02-13 15:01] gforcada opened #68 "Create jenkins jobs for PLIPs"

[2015-02-13 15:03] tisto opened #69 "Move to a new Jenkins server and infrastructure."
1) Write an email to dev list (timo)
2) Set up mr.roboto on new master (ramon, timo)
3) Create all remaining jenkins in jjb (gil)
4) Check the mail setup (timo)
5) switch dns to the new machine (timo)
6) cron job for github hooks (ramon, timo)

[2015-02-13 15:04] gforcada opened #70 "Create a jenkins jobs to create jenkins jobs"
The idea is that if there is a jenkins job with a checkout of jenkins.plone.org repository, it can create jenkins jobs automatically on any push to jenkins.plone.org repository on github.

[2015-02-13 15:07] gforcada commented on #65
Part of #69

[2015-02-13 20:16] gforcada commented on #66
Done with #71

[2015-02-13 20:16] #66 closed

[2015-02-14 05:36] tisto opened #72 "Install Munin on new Jenkins server."
Since the current test server is just a VM with two cores it is important that we monitor the system in order to see if we have to upgrade to a more powerful machine.

[2015-02-14 05:37] #65 closed

[2015-02-14 05:55] tisto commented on #72
@svx Can we use https://github.com/plone/ansible-playbook/tree/master/roles/munin-node ? Or does this only work if node and server are on different machines?

[2015-02-14 07:08] tisto commented on #67
I played around a bit with the workflow plugin and created a simple build pipeline:

http://78.47.49.108/job/workflow

[code]
The 'Build' stage checks out buildout.coredev, runs buildout and archives the entire directory.
The 'Test' stage checks out the archive from the 'Build' stage, runs the tests and archives the test results.

I think this is a good starting point.

@gforcada It would be cool

[2015-02-14 07:33] svx commented on #72
On 02/14/2015 06:55 AM, Timo Stollenwerk wrote:

Hi,
should work, but you know that that role is also install a zope check
right
[https://github.com/plone/ansible-playbook/blob/master/roles/munin-node/files/monitors/plonezope_res]
right ?
In general you can run muin-node and server on the same machine, this is
good enough to get some overview what the box is doing, this is not
really handy if the

[2015-02-14 14:13] tisto commented on #67
Example how to copy workspace over to next build stage and run second stage in parallel:

[code]

[2015-02-14 14:30] tisto commented on #67
Example of a build pipeline with a build stage and a test stage that runs two different tests in parallel and then collects the test results of both:

[code]
http://78.47.49.108/job/workflow/

[2015-02-14 16:41] tisto commented on #67
Build that runs alltests and alltests-at in parallel:

[code]

[2015-02-14 21:33] gforcada commented on #67
:100: nice work on it!

I just checked it and jjb does not have any sort of code on how to create a jenkins flow job... Oh well, is not so much of a problem though:
http://78.47.49.108/job/workflow/config.xml

Will look into it.

[2015-02-15 00:04] tisto commented on #67
I guess it is perfectly ok to just push the config.xml since a workflow Jenkins job is nothing more than a title and a groovy script with the workflow definition.

[2015-02-15 00:20] tisto opened #73 "Add Simple Theme Plugin to Jenkins."

[2015-02-15 08:59] gforcada commented on #67
Yeah I was thinking that also, but then do we want to keep two places where to define jobs? Regular ones in jjb and workflow ones in groovy scripts?

Although it may be a bit of time to work them out, not really much given the amount of XML, I would strongly prefer having only one single way to configure things, i.e. keep everything on jjb.

[2015-02-15 09:00] gforcada commented on #73
You mean this one right? https://wiki.jenkins-ci.org/display/JENKINS/Simple+Theme+Plugin will add it later at night :)

[2015-02-15 10:17] tisto commented on #67
The job itself should be defined in JJB. The workflow jobs allow you to define the groovy script in a remote repository:

https://github.com/plone/jenkins.plone.org/blob/master/flow.groovy

Therefore the JJB workflow jobs will be minimal.

There also might be some overlap between jjb and workflow plugin. We should use the workflow plugin only for jobs that require a pipeline.

[2015-02-15 13:20] gforcada commented on #67
Completely agree, I was mostly stating that we need to make sure that jjb spits out the proper XML boilerplate needed for pipeline jobs.

[2015-02-15 13:22] gforcada opened #74 "Improve jjb to support workflow definitions"
Currently jjb only knows about flow, freestyle, maven and matrix job definitions: http://ci.openstack.org/jenkins-job-builder/definition.html#modules

We need to add support for workflow jobs in order to be able to use jjb and workflow jobs together, and thus retain the ability to have one single place where to configure jenkins jobs.

[2015-02-15 13:23] gforcada commented on #74
*/me first read documentation before stating things...*

So no, no need to improve jjb, it already supports it: http://ci.openstack.org/jenkins-job-builder/project_flow.html

[2015-02-15 13:23] gforcada commented on #67
That was quick: https://github.com/plone/jenkins.plone.org/issues/74 :D

[2015-02-15 14:01] tisto commented on #67
Great. As soon as the jjb run is fixed we can set up an experimental workflow job (we are still missing the xvfb options right now so I don't think we can move to the workflow plugin right away).

Here is the final job configuration:

http://78.47.49.108/job/workflow/config.xml

[2015-02-15 14:08] gforcada commented on #67
:+1:

[2015-02-17 23:28] gforcada commented on #74
*/me read the documentation properly and try it before stating things...*

So no, jjb supports the old DSL approach one, not the new format. Reopening...

[2015-02-18 07:38] tisto commented on #74
Ok. So what options do we have other than waiting for jjb to implement this? Is it hard to implement this ourself? Can we just push a config.xml with jjb?

[2015-02-18 11:30] gforcada commented on #74
Shouldn't be a problem to do it on our own fork of jjb, it's a matter of copying on of the others jjb job definitions and adapt (so basically copy&paste and start changing names around)

I will try to work on it during this week, I got injured and a vaccination for it, and it's a bit difficult to concentrate :S

[2015-02-18 11:36] gforcada opened #75 "Create a Vagrantfile to test locally"
Now that we have a testing master to play with is not so nice to keep rebooting and restarting it because someone (read me) is trying to fix https://github.com/plone/plone.jenkins_server/pull/11

I've been trying to get a vagrant box so that we can run plone.jenkins_server locally, this way, testing that a configuration gets loaded properly would be way more easier.

[2015-02-21 22:43] gforcada opened #76 "jjb clone future"
Right now we have a submodule on this repo a clone of jjb on my personal account.

That's useful as long as I'm the only one adding changes to it, which shouldn't be much of a problem, but eventually (hopefully) others will also help.

So after this introduction: where should we keep our clone of jjb? can we really put it on plone github organization? I guess @polyester will say no, collective org

[2015-02-21 23:40] gforcada commented on #73
Done with https://github.com/plone/plone.jenkins_server/commit/2bee764dcc3bc73c59b6581d35f1eab5cb35bc23

[2015-02-21 23:40] #73 closed

[2015-02-21 23:42] gforcada commented on #73
And also updated the submodule here with https://github.com/plone/jenkins.plone.org/commit/2d5d4b3125e16b2862cae66209980aa078102cea

We only need to run the playbook again

[2015-02-21 23:46] #61 closed

[2015-02-21 23:47] gforcada commented on #61
Bumped also p.jenkins_server commit pin on the submodule here, we need to run the playbook though...

[2015-02-22 23:07] #75 closed

[2015-02-22 23:09] gforcada commented on #67
Closing this, the evaluation turned good, though with the xvfb caveat...

[2015-02-22 23:10] gforcada commented on #62
Done by yourself some days ago: http://jenkinsploneorg.readthedocs.org

[2015-02-22 23:10] #62 closed

[2015-02-22 23:11] gforcada commented on #53
Already fixed I hope... if not, please reopen.

[2015-02-22 23:11] #53 closed

[2015-02-22 23:12] gforcada commented on #52
I hope is sorted, and anyway in some weeks we have a new server coming up...

[2015-02-22 23:12] #52 closed

[2015-02-22 23:14] gforcada commented on #51
Closing...

[2015-02-22 23:14] #51 closed

[2015-02-22 23:15] gforcada commented on #44
Thanks to the GitHub Oauth plugin this will be fixed... closing.

[2015-02-22 23:15] #44 closed

[2015-02-22 23:16] gforcada commented on #27
I guess we want to turn this into bobtemplates.plone?  Closing this one at least.

[2015-02-22 23:16] #27 closed

[2015-02-22 23:18] gforcada commented on #37
Should pointing to bobtemplates.plone docs be a solution or do we want narrative documentation also?

[2015-02-22 23:20] gforcada commented on #12
Closing, there is a new one for taking care of it, with jjb.

[2015-02-22 23:20] #12 closed

[2015-02-23 10:19] gforcada commented on #74
So, turns out it is not that difficult to add a bare minimum version of it...

I will try to polish it and send it for feedback during the week, hopefully today or tomorrow.

[2015-02-23 15:21] polyester commented on #76
@gforcada that's not my call to make, although I do think it will be a bit messy in plone github organization. Theoretically it can be there, but since Apache2 is incompatible with GPL2 it all gets a bit confusing, to say the least.

Collective would probably be better.

[2015-02-23 22:55] gforcada commented on #76
Just for reference: they are also asking for a CLA.

[2015-02-23 22:56] gforcada commented on #74
Aaaand, with a bare-minimum version of it, it is now supported on our fork of JJB :) I created an example job so that we can play with it.

By now only externally referenced pipelines are supported.

[2015-02-23 22:56] #74 closed

[2015-02-27 12:30] tisto opened #78 "Define nodes in ansible"
Currently no nodes are available if we run jjb. cc @gforcada

[2015-02-27 12:31] tisto opened #79 "Use Dashboard Views instead of regular views."
The Jenkins dashboard plugin is already installed. We should make all views/tabs use dashboard views. At least the core view (which is the default one) has to use the dashboard view. For all others it does not really matter which type they use. cc @gforcada

[2015-02-27 13:14] bloodbare opened #80 "CRONJOB to run commit hooks"
http://78.47.49.108/roboto/run/githubcommithooks?token=XXXXX

[2015-02-27 14:22] tisto commented on #80
Ok. I guess we need to store the token on our jenkins.ini file so we do not expose the secret token on github. cc @gforcada

[2015-02-27 14:46] jaroel opened #81 "'Authorize application' requests access to all public and private repos."
jenkins.plone.org requests full access to all my organizations.
I have no possibility to just allow access to the Plone organization.

This is a github issue imho, but filed here for tracking.

[2015-02-27 14:49] gforcada commented on #81
actually I think the problem lies on the jenkins github oauth plugin. Somewhere it needs to define which permissions wants.

I failed to see where they are defined though...

[2015-02-27 14:50] gforcada commented on #81
For reference, the plugin is: https://wiki.jenkins-ci.org/display/JENKINS/Github+OAuth+Plugin

[2015-02-27 17:04] tisto commented on #68
Task: extend plipbase.cfg to generate xml output that jenkins can read (I will work on that).

[2015-02-27 17:22] tisto opened #82 "Change jenkins job params."
Job params are "plonechanges" and "repo". This confuses people. We might want to use better names and and explaining why people can ignore those params if they trigger a job manually.

[2015-02-27 17:35] #69 closed

[2015-02-27 17:36] davisagli opened #83 "add branch to allcommits messages"
I saw the new allcommits messages coming in:

![screen shot 2015-02-27 at 9 34 34 am](https://cloud.githubusercontent.com/assets/49014/6417685/0cc7dbb0-be64-11e4-9aeb-8c1f58916c8d.png)

Could we add the branch name to the message?

What does fc stand for?

[2015-02-27 17:46] tisto commented on #83
fc stands for fake commit. @bloodbare needs a way to detect those kind of requests. I already recommended to use [<package name>] <original commit message>.

Ideally I would like to have something like "[4.3][plone.app.discussion] This is a commit message."

@bloodbare said the commit message can become quite long and that is a problem. we postponed the discussion because we did not want to delay

[2015-02-27 19:21] tisto opened #84 "Check ansible playbook and make sure we use security best practices."
https://github.com/plone/jenkins.plone.org/blob/master/jenkins_server.yml
https://github.com/plone/jenkins.plone.org/blob/master/jenkins_node.yml

[2015-02-27 21:18] gforcada opened #85 "SSL certificate"
We are missing an SSL certificate, anyone (@svx @tisto) has it? It would be nice to have it a bit more secure :)

[2015-02-27 21:33] gforcada opened #86 "Add jenkins node on vagrant"
Currently our Vagrantfile only defines one single vm: a jenkins master.

We need to update it to at least add one node so that we can not only test jenkins configurations and jjb created jobs but also if they actually run :)

[2015-02-27 23:24] gforcada commented on #78
Done with:

https://github.com/plone/plone.jenkins_server/commit/d8911d076383a8f4b163698cc9f57ea048d5fdd1
https://github.com/plone/jenkins.plone.org/commit/fd60397680a5edecf694d5b084db60f626db86d7

[2015-02-27 23:24] #78 closed

[2015-02-27 23:33] gforcada commented on #79
The basic change is done here: https://github.com/plone/plone.jenkins_server/commit/892a1c9a7d9c678f36d3e34067cb0e5ffeffbbc5

We are missing what needs to be displayed and so, if you have time to configure it manually, then we can extract the configuration and put it on plone.jenkins_server

[2015-02-28 12:43] jaroel commented on #81
Oh, the permissions are fine. The plugin just requests access to all organizations :)

[2015-02-28 22:02] gforcada commented on #79
Done with https://github.com/plone/plone.jenkins_server/commit/95fd3112f3dc1c672255d8a9a520702412dd3a2e

[2015-02-28 22:02] #79 closed

[2015-03-01 00:01] gforcada commented on #68
@tisto should I leave it closed or do you want to be keep it open for the task that you mentioned?

Now that the script is there, we to:
- let everyone know about it (naming convention: plipXXXYYY.cfg - where XXX is a number and YYY anything)
- create a cron job to run the script and later jjb (although by now we could run it manually)

[2015-03-01 00:06] gforcada commented on #83
Why not just keep it like:

[plone.app.discussion][master]

And the commit message and everything else on the commit message body rather than on the first line

@tisto the buildout.coredev branch in your example wouldn't be redundant? you already made a commit on that branch, so you already *know* is on that branch...

[2015-03-01 00:15] #36 closed

[2015-03-01 07:23] tisto commented on #68
I'm still working on the PLIP jobs. See https://github.com/plone/Products.CMFPlone/issues/216#issuecomment-76532473

[2015-03-01 11:00] tisto commented on #83
@gforcada mr.roboto needs to be able to identify those fake commits. I think that the original commit message (even truncated) would be more important, e.g. "[fc][plone.app.discussion] Fix typo."

I would somehow like to change "fc" to something else. People don't know what that means, maybe "pkg". I would guess everybody would at least know that this means package and it does not have this negati

[2015-03-01 12:47] jaroel commented on #81
Looks like a list of organizations can be passed in as the command line parameter 'orgs':
[code]

[2015-03-01 17:47] davisagli commented on #83
Maybe "auto" or "robot". Most of the commits made by humans are package changes too.

David Glick
(mobile)

[2015-03-01 18:27] bloodbare commented on #83
Does not make sense to write the plone version as its intrinsic in the
coredev branch, as its a push, not a commit i may have tons of commits on
it, so on message i send all them and as header the package name and
branch. We can change to show the commit message but then I would need to
commit on coredev a commit for each subcommit of the push.

I can change from [fc] to [robot]
El dg, 1 març, 201

[2015-03-01 20:43] gforcada commented on #83
What about ``[ci]`` for the sake of options :)

[2015-03-01 20:44] gforcada commented on #81
Yeah we already have that, both plone and collective can be used: https://github.com/plone/jenkins.plone.org/blob/master/jenkins_server.yml#L17

[2015-03-01 20:45] gforcada commented on #81
And is used here: https://github.com/plone/plone.jenkins_server/blob/master/templates/jenkins_config.xml.j2#L10

[2015-03-01 20:46] gforcada commented on #68
Ok, I assign it to you then :)

Let me know if you need any help.

[2015-03-02 10:31] tisto opened #87 "Allow plip implementers to provide an email address that is used for notifications."
First, we could add the email addresses fo the PLIP implementer to jobs.yml. Later we could read them from the plip cfg so people can add/remove ppl themself.

[2015-03-02 10:49] gforcada commented on #87
Sounds like a good idea, something like this?

[code]

I see that for example https://github.com/plone/buildout.coredev/blob/5.0/plips/plip10359-security-controlpanel.cfg has some comments at the top describing the PLIP itself, maybe we can just use that also?

[code]

So that it's a bit easier to parse, and actually, if we get around to improve mr.roboto/jenkins we could ping back the build statu

[2015-03-02 10:52] tisto commented on #87
@gforcada sounds good! A descriptive header should be a requirement anyways.

[2015-03-02 18:47] tisto commented on #83
I would prefer something [pkg], because [ci] or [robot] just refer to the system that automatically creates those commits. Though, [ci] and [robot] could do buildout.coredev commits as well (this depends on our internal structure). [pkg] is only true for those package commits, since buildout.coredev itself is no [pkg].

Maybe we should ask people that are not involved with the internals about thei

[2015-03-02 20:24] gforcada commented on #83
Let's make a poll? (just kidding)

[2015-03-03 07:12] tisto opened #88 "mr.roboto removes the jenkins github post-commit hook."
The github post-commit was not present this morning here:

https://github.com/plone/buildout.coredev/settings/hooks

I suspect that the mr.roboto hooks removed the jenkins hook from buildout.coredev. Is that possible @bloodbare ?

[2015-03-03 08:43] tisto opened #89 "Set up dependencies Jenkins job."
We need a tab and the jobs we had on the old server. Ramon can fire up the old instance if necessary.

[2015-03-03 08:49] gforcada commented on #89
I was planning on doing something like for PLIPs, create a "qa" folder or something like that on buildout.coredev and create jobs based on the .py/.sh files found there.

This way if anyone wants to add a new check/QA script is a matter of sending a pull request to buildout.coredev, get it merged and the job will be created on jenkins.

[2015-03-03 08:59] tisto commented on #89
I think I would prefer to start simple (just create the dependencies jobs with jjb) and then automate things later if necessary.

[2015-03-03 09:10] bloodbare commented on #88
Yes, I needed to rerun the hooks and it reset the hook.

I Updated mr.roboto code to try not to remove it when it reruns. I changed
the code of mr roboto so for each commit on sources.cfg and checkouts.cfg
at coredev it relaods the sources and checkouts so it will not be needed to
rereun the hook setting unless we create a new repo on plone namespace.

On the other hand, I've been figuring out how

[2015-03-03 12:55] gforcada commented on #88
For the complex use case (PR that depend on others) I would say that the easiest is to follow the PLIPs route: create a cfg file (say that a ``pull-requests`` folder is created on buildout.coredev) and let jenkins job builder create a job for you.

For the simple use-case I still have to look at what the jenkins plugin does really allow us to do...

[2015-03-03 13:03] gforcada commented on #89
Ok, then, can we get the jobs config.xml so anyone can try to replicate them on jjb? @bloodbare could you spin up the old instance and give me access. Is just 5 minutes.

[2015-03-04 07:37] tisto commented on #72
I installed munin on the Jenkins server (still work in progress):

https://github.com/plone/jenkins.plone.org/commit/fd7e92243f3fc0559033f343edd754cd0563ae93
https://github.com/plone/plone.jenkins_server/commit/f11fcac3fca1600b99cbe428a54f252bae7484f9

I'm not sure if we should password protect munin though. @svx @gforcada @bloodbare opinions?

[2015-03-04 09:11] gforcada commented on #72
We could try to reuse https://galaxy.ansible.com/list#/roles/770 ?

Protecting munin... yeah why not... on the other hand, is the information there really sensible? I don't think so...

[2015-03-05 05:56] tisto opened #90 "mr.roboto commits last_commit.txt to buildout.coredev."
I don't know why this is necessary but if we keep it like this we will see tons of merges in our commit log. To avoid this, developers need to do a git pull after every single push.

@bloodbare what's the rationale behind this?

[2015-03-05 14:32] bloodbare commented on #90
No matter if we add last_commit.txt or not on the commit we do to coredev, we need to change the head of the 5.0 branch to write the commit and that means you need to rebase or merge. Coredev developers needs to do a pull -r so there is not merges.

[2015-03-05 14:36] bloodbare commented on #89
@gforcada ping me when you are online if you still need this access.

[2015-03-05 17:31] davisagli commented on #90
You can tell git to do that automatically; see the "Pull with rebase instead of merge" section on http://mislav.uniqpath.com/2010/07/git-tips/

[2015-03-05 18:14] bloodbare commented on #90
@davisagli do you know if we can set the git configuration on the repository instead of configuring that localy ?

[2015-03-05 18:16] davisagli commented on #90
I don't think so. You can put .gitconfig in the repository but it won't be used unless users include it from their ~/.gitconfig: http://stackoverflow.com/questions/18329621/storing-git-config-as-part-of-the-repository

[2015-03-05 23:05] gforcada commented on #90
Totally agree here, ``git pull -r`` or better on .gitconfig is the only sane solution when working in shared repositories, there's no point on doing merge commits on commits that are only local to you or the branch you are developing on, keeping a sane git log history is quite important when doing forensics and digging out code.

[2015-03-05 23:06] gforcada commented on #89
@bloodbare sure, will do, sorry today was packed. Actually if you just send me (by mail) all those config.xml is more than enough too...

[2015-03-11 09:20] gforcada opened #91 "Enhance the console output"
Whenever there are errors on a build it is usually (at least for me) more useful to go directly to the console output, so you have a bit more of context about what happened.

So I thought that coloring the console output would not be too bad right? So with my poor javascript-fu I created this:

[code]

Basically turns lines like this:
```Ran 4 tests with 0 failures, 2 errors and 0 skipped in 8.664

[2015-03-11 09:20] gforcada commented on #91
Will create a Pull Request later on during the day

[2015-03-11 09:47] tisto commented on #91
There are Jenkins plugins that can do this in Jenkins itself. One plugin is configurable with regular expressions. Running over the full console output with jQuery JS might lead to blocking the browser, so I'm not sure if this is a good idea.

[2015-03-11 09:49] tisto commented on #91
https://wiki.jenkins-ci.org/display/JENKINS/Log+Parser+Plugin

[2015-03-11 15:11] gforcada commented on #91
I knew there was something out there :)

It was mostly a "let's try to do that and see how it looks like" rather than a must have.

Still the point of keeping the JS on jenkins.plone.org repo does make sense to me, as eventually we will want to add some small thingies here and there and so on.

[2015-03-17 06:27] tisto commented on #63
Done: http://jenkins.plone.org/view/All/job/pull-request/
Next step: allow user to provide an email adress for a notification.

[2015-03-17 08:36] tisto commented on #63
We might be able to look up the email address from the jenkins user automatically: https://wiki.jenkins-ci.org/display/JENKINS/Build+User+Vars+Plugin

[2015-03-17 13:28] gforcada opened #92 "Pull request job should always send an email"

[2015-03-17 14:21] gforcada commented on #89
Jobs are there, failing, due to not generating dot files, but that's irrelevant to this story...

[2015-03-17 14:21] #89 closed

[2015-03-17 15:54] tisto opened #93 "Upgrade to Selenium 2.45.0 and Firefox 36."

[2015-03-18 06:23] #92 closed

[2015-03-18 06:28] tisto opened #94 "Customize email send by pull request job."
Subject: Jenkins Pull Request Job [STATUS]: PULL_REQUEST_PACKAG PULL_REQUEST_BRANCH

The Jenkins pull request job you requested has been finished:

http://JENKINS_JOB_URL

[2015-03-18 10:59] gforcada commented on #94
Minor glitch fixed on https://github.com/plone/jenkins.plone.org/commit/c4b4e5943731c548241abf22ad3fa068452e0237

[2015-03-18 10:59] #94 closed

[2015-03-18 13:43] gforcada commented on #63
Aha... I was about to say that is not really possible... but turns out it should!

http://jenkins.plone.org/user/tisto/configure shows your user email, so there should be a way to get that...

[2015-03-18 13:48] tisto commented on #63
Cool!

[2015-03-18 21:14] gforcada commented on #63
I was playing with https://wiki.jenkins-ci.org/display/JENKINS/Build+User+Vars+Plugin but seems it does not work as expected ... doesn't output anything if you add them on the shell nor on the email extension plugin... not sure how to debug that actually ...

[2015-03-20 20:06] gforcada commented on #87
Should we instead use the email of the one that runs the jenkins job just like the pull requests? It will make more sense IMHO.

I could create the PLIP cfg and add myself as the one to notify, but someone else could be the one working on it later on and it will still be me getting the notifications...

[2015-03-21 23:46] gforcada commented on #63
@tisto we didn't discuss specifically, but I think we can close this by now right? Let's create new issues if there are more improvements to be made.

[2015-03-21 23:46] #63 closed

[2015-03-22 00:40] gforcada opened #95 "pull request job: buildout.coredev"
If the pull request is on buildout.coredev itself, we got a problem!

The script tries to modify things on sources.cfg and mr.developer and fails on it.

See it on http://jenkins.plone.org/job/pull-request/60/

[2015-03-22 07:02] tisto commented on #63
+1

[2015-03-23 14:23] gforcada opened #96 "pull request job: make it discoverable"
We worked quite hard on it, so maybe it's time that we show it to the wider community and we start using it more seriously...

For that I would suggest to move it to the ``Core`` view on jenkins.plone.org so that you can get to it quickly and is easy discoverable. Right now you either know the URL (jenkins.plone.org/job/pull-request) or you have to click on the ``All`` view and search for it withi

[2015-04-05 21:41] gforcada commented on #96
Everything I said is done, feel free to re-open if you disagree with the changes.

[2015-04-05 21:41] #96 closed

[2015-04-05 22:03] #95 closed

[2015-04-05 22:11] gforcada commented on #87
I created a pull request for it: https://github.com/plone/jenkins.plone.org/pull/98

[2015-04-05 22:15] gforcada commented on #82
This is already old. Closing.

[2015-04-05 22:15] #82 closed

[2015-04-05 22:18] gforcada commented on #81
If I understood it correctly the upstream bug for this is: https://github.com/jenkinsci/github-oauth-plugin/pull/35

[2015-04-05 22:20] gforcada commented on #80
@bloodbare is this still needed? Did we added that manually or how is it running right now?

[2015-04-05 22:26] gforcada commented on #64
That was done some weeks ago.

Anyway a dup of #89

[2015-04-05 22:26] #64 closed

[2015-04-05 22:30] gforcada commented on #55
@svx is this still relevant? A quick grep on plone.jenkins_node shows that we are actively not installing PIL from the OS and installing Pillow instead.

Feel free to re-open.

[2015-04-05 22:30] #55 closed

[2015-04-05 22:31] gforcada commented on #49
slave.py is no longer exists on this repo.

Closing.

[2015-04-05 22:31] #49 closed

[2015-04-05 22:31] gforcada commented on #48
slave.py is no longer exists on this repo.

Closing.

[2015-04-05 22:31] #48 closed

[2015-04-05 22:37] gforcada commented on #29
@datakurre all jobs are currently re-created with jenkins-job-builer but disabled. Should we give them another try or how do you want to move those further (if you want to).

[2015-04-05 22:39] gforcada commented on #28
Should we instead focus on the per-package jenkins job to actually do that? Instead of trying to make sure that all and every single developer configures his/her laptops correctly we just need to make sure that all packages are QA tested and that they report back to the committer.

[2015-04-05 22:40] gforcada commented on #22
Closing as most probably that's already old... feel free to reopen.

[2015-04-05 22:40] #22 closed

[2015-04-05 22:42] gforcada commented on #19
The trace is no longer visible, let's close and reopen it whenever the problem happens again.

[2015-04-05 22:42] #19 closed

[2015-04-05 22:45] gforcada commented on #13
I think it was deemed as too complex and/or fragile, right?

[2015-04-05 22:45] #13 closed

[2015-04-05 22:46] gforcada commented on #9
Is that superseeded by plone.recipe.codeanalysis? Should the discussion be moved there?

[2015-04-05 22:46] #9 closed

[2015-04-05 22:48] gforcada commented on #8
Should that be instead a feature request on https://github.com/plone/plone.releaser ?

[2015-04-05 22:48] #8 closed

[2015-04-05 22:51] gforcada commented on #7
Moved the issue to plone.releaser: https://github.com/plone/plone.releaser/issues/1

[2015-04-05 22:51] #7 closed

[2015-04-05 22:54] gforcada commented on #4
We do have munin on master, not sure about nodes, should we turn jenkins master into a munin master as well? So all nodes report munin data to it? I would say that it makes sense for me.

[2015-04-06 00:21] datakurre commented on #29
How do they currently fail?

Probably Sauce-part should be refactored to be more reusable, but the problem is that it requires to parts:

1. Setup some envs and start Sauce Connect
2. Do stuff (requiring envs from 1.)
3. Kill Sauce Connect

In addition, Sauce Connect has upgraded

https://docs.saucelabs.com/reference/sauce-connect

Now we should download a tarball, extract it and call executable .

[2015-04-06 13:49] tisto commented on #4
+1

[2015-04-07 07:16] #87 closed

[2015-04-07 07:18] gforcada commented on #29
Actually I don't think I ever tried running them, I mostly tried to do a verbatim copy of the previous job configuration, so they should work if they worked before...

@datakurre if you want to work on them let me know so I can help a little bit on the jjb part if you want.

[2015-04-07 22:29] gforcada opened #99 "python headers for python 3"
I'm just tinkering around with a ZTK job to run it on python 3, just to keep sure that while we are still not so sure what to do with it, we at least know if it works or not.

Testing it with 2.7 works fine, see http://jenkins.plone.org/job/ztk/1 but running it with 3.4 gives an error:

[code]

[2015-04-11 14:58] esteele opened #100 "Don't trigger tests on package tag, version bump"
I believe we have a [no ci] tag or similar that prevents Jenkins from running tests on a commit. I'd like this to automatically get added to zest.releaser's (or plone.releaser's) tagging and version bump commits.

[2015-04-11 15:00] esteele opened #101 "Create a job to handle the dist.plone.org deploy step for releases"
build.plone.org used to have a job that downloaded all packages (plus versions.cfg) and pushed them to a specified directory on dist.plone.org. It'd save me a lot of time to have that running again.

[2015-04-11 15:15] esteele opened #102 "Send weekly changelog summaries to esteele"
I'd like a weekly email listing all of the changelog entries added since the previous release. There should be two methods in plone.releaser that'd be fairly close to doing this.

[2015-04-14 12:29] svx opened #103 "Create check for README and /docs on repos"
create a check which checks if the repositories include a docs folder and have a readme, send output to Sven or have the output as file somewhere.

[2015-04-17 23:07] gforcada opened #104 "jenkins_node.yml vs plone.jenkins_node"
While trying to add python3.4 support on jenkins nodes I realized that the ansible configuration for nodes is not taken from the ansible galaxy playbook (i.e. [plone.jenkins_node](https://github.com/plone/plone.jenkins_node)) but instead from [jenkins_node.yml](https://github.com/plone/jenkins.plone.org/blob/master/jenkins_node.yml).

Doing a cross-check between them they look *sort of the same*,

[2015-04-17 23:08] gforcada commented on #104
/cc @tisto @svx

[2015-04-17 23:08] gforcada commented on #104
I can take one node (say node4) and use the plone.jenkins_node there until everything works as expected, I don't expect much hiccups...

[2015-04-18 05:18] tisto commented on #104
+1

[2015-04-18 22:19] gforcada commented on #86
Just to report on the status, for whoever is interested on it:

both master and node playbooks work like a charm, the vms are already connected via a private network and the only missing piece is that jenkins master acknowledges that it has a node to run tests on. Hopefully this week this is done!

[2015-04-19 05:43] svx commented on #86
Awesome !! Let me if if you want to have docker and later rocket container for this !

[2015-04-24 08:36] gforcada opened #105 "jenkins jobs for test isolation problems"
zc.buildout is awesome, so great that you can actually override specific sections of a part, which means that isolation problems can pinned to a cfg file and thus having jenkins run them as someone gets up to the task to iron them out.

So as an example, there seems to be a test isolation problem when adding `plone.app.multilingual` on `AT_plone_app_testing`. So dropping the following file on plip

[2015-04-24 11:43] gforcada commented on #85
@svx @smcmahon friendly ping :)

[2015-04-25 22:21] gforcada commented on #99
With the newer plone.jenkins_node ansible playbook this is solved :)

[2015-04-25 22:21] #99 closed

[2015-04-25 22:21] gforcada commented on #104
The pull request take over the discussion.

[2015-04-25 22:21] #104 closed

[2015-04-25 22:22] gforcada commented on #86
The pull request takes over...

[2015-04-25 22:22] #86 closed

[2015-04-29 19:37] tisto commented on #101
@esteele I would like to work on that for the upcoming releases. We would need make sure that jenkins has access to dist.plone.org. I can then create a jenkins job that you can trigger manually to do the upload.

[2015-04-29 19:37] #90 closed

[2015-04-29 19:38] #2 closed

[2015-04-29 19:39] tisto opened #107 "Munin for jenkins nodes."
We have munin for the jenkins server. It would be nice to include our nodes there as well.

[2015-04-29 19:40] tisto commented on #4
I created a new issue for nodes: https://github.com/plone/jenkins.plone.org/issues/107

[2015-04-29 19:40] #4 closed

[2015-04-29 19:40] esteele commented on #101
@tisto I don't have sudo rights. I think @martior should be able to give you access.

[2015-04-29 19:40] tisto commented on #28
Done.

[2015-04-29 19:40] #28 closed

[2015-04-29 19:41] tisto commented on #34
we are all happy with the current status of mr.roboto and our jenkins setup.

[2015-04-29 19:41] #34 closed

[2015-04-29 19:42] tisto commented on #32
Release stuff will go on jenkins.plone.org. We will create individual issues here.

[2015-04-29 19:42] #32 closed

[2015-04-29 19:43] tisto commented on #72
done.

[2015-04-29 19:43] #72 closed

[2015-04-29 19:43] tisto commented on #57
we did this. an email is send to the committer if a package is not in auto-checkout.

[2015-04-29 19:43] #57 closed

[2015-04-29 19:57] tisto commented on #54
github was faster.

[2015-04-29 19:57] #54 closed

[2015-04-29 20:08] tisto commented on #101
@esteele how do we get a list of all releases and versions that we need to upload? Is is sufficient to parse versions.cfg and upload all packages under the "# Plone release" line?

https://github.com/plone/buildout.coredev/blob/5.0/versions.cfg#L88

[2015-04-30 00:39] esteele commented on #101
We upload everything. I have a cfg that I run buildout against to get a full downloads cache, pulling everything from releases pinned in versions.cfg

[code]

[2015-05-03 18:39] gforcada opened #108 "Javascript unit testing"
Given that with Robot Framework only small parts of our growing JavaScript code is tested and that mockup already has a testing framework on it, wouldn't be needed to set up a jenkins job for running those as well?

@vangheem @frapell @thet if I got it correctly from mockup's README, Jenkins only needs to:

[code]

Am I missing something? And even more important, do we have more JavaScript unittes

[2015-05-03 22:51] gforcada commented on #102
@esteele this basically means sending you by email the output of ``./bin/manage report`` ?

[2015-05-03 23:15] esteele commented on #102
Yes. I never remember to do it myself.

[2015-05-04 00:57] frapell commented on #108
@gforcada I think you might want to use `make test-once` instead of `make test` since the latter will keep waiting on modified files to run again automatically.

I don't know the answer to your other questions

[2015-05-04 07:35] gforcada commented on #108
@frapell yes I noticed that after waiting 5 minutes or so to the jenkins job to finish :)

[2015-05-04 13:48] gforcada opened #110 "Notify, via email, that someone broke the build"
Our jenkins setup is tested enough so we can go one step further and start notifying the developer that broke the build.

Right now if a commit breaks the build only plone-testbot@lists.plone.org is notified. https://github.com/plone/jenkins.plone.org/blob/master/jobs.yml#L1011

We should expand that to also notify the one that broke the build.

[2015-05-04 14:56] tisto commented on #110
+1 That would be awesome!

[2015-05-12 12:31] gforcada opened #111 "Add monitoring for mr.roboto"
As per @tisto (https://github.com/plone/plone.app.vocabularies/commit/10866312fb39320942512eace06bf3defe213397#commitcomment-11151223) it would make sense to add a cronjob/something that checks if mr.roboto is up and running and if not try to restart it and send a mail to (*who?* tiso/me/bloodbare?) to let them know that something is going on with mr.roboto...

[2015-05-12 13:03] tisto commented on #111
+1 (jenkins as well) I guess something like https://uptimerobot.com would work (email to testing mailing list if service is down).

[2015-05-12 13:06] tisto commented on #111
fyi: I created an account on uptimerobot.com. I will give that a try for a couple of weeks. If it works we can change the email address to the testing mailing list if we want.

[2015-05-12 14:45] gforcada commented on #111
Cool, although a more unix approach would be fine as well... i.e. these start ups can always come and go without notice... but as long as they are there, sure, let's be easy on us :)

[2015-05-12 23:03] gforcada commented on #102
I guess you already got the first weekly email from the new Jenkins job: http://jenkins.plone.org/view/All/job/pending-releases

Reopen this issue if that was not what you were expecting.

[2015-05-12 23:03] #102 closed

[2015-05-13 20:21] tisto opened #112 "mr roboto is not started on server reboot."
I had to reboot jenkins.plone.org and it seems mr roboto is not started automatically.

[2015-05-13 22:19] gforcada commented on #112
Indeed, there's no configuration on mr.roboto for restarting automatically, a ``@reboot`` cron job would do the job...

[2015-05-15 21:12] gforcada commented on #103
@svx I'm working on it right now... keep an eye on http://jenkins.plone.org/view/All/job/docs-package-styleguide (better names for the job are welcomed :)

[2015-05-15 22:50] gforcada commented on #103
@svx while waiting for a better name I'm closing this.

Let me know if it needs to do something more (or less).

[2015-05-15 22:50] #103 closed

[2015-05-15 22:57] gforcada commented on #100
With the recent changes from @mauritsvanrees, still unreleased, on zest.releaser isn't this partially solved?

mr.roboto needs to be updated (maybe) @bloodbare could you shed some light here? A quick github search on mr.roboto only shows one result: https://github.com/plone/mr.roboto/search?utf8=%E2%9C%93&q=skip does that mean that is not implemented?

[2015-05-15 23:01] gforcada commented on #100
@bloodbare @esteele I see that instead of ``[ci skip]`` mr.roboto looks for ``[fc]``: https://github.com/plone/mr.roboto/blob/master/src/mr.roboto/src/mr/roboto/views/runcorejob.py#L95

So I guess that ``[fc]`` plus @mauritsvanrees changes on zest.releaser will give you what you need, right?

[2015-05-15 23:14] mauritsvanrees commented on #100
With https://github.com/zestsoftware/zest.releaser master (or 4.0 once we release that) these lines in `setup.cfg` in a package or globally in your `~/.pypirc` will do the trick:

[code]

What does the `fc` stand for?  Fake commit?

[2015-05-15 23:18] gforcada commented on #100
@mauritsvanrees yes I think so, we could of course just change it to something else though...

[2015-05-27 20:59] gforcada commented on #100
@esteele closing this as zest.releaser 4.0 + [fc] should be enough, confirm and reopen if needed.

[2015-05-28 11:32] mauritsvanrees commented on #100
Actually, mr.roboto only looks at the [first line of the commit message](https://github.com/plone/mr.roboto/blob/master/src/mr.roboto/src/mr/roboto/views/runcorejob.py#L95), and even then only at the first 60 characters:

[code]

With the new zest.releaser, a commit message would be something like this:

[code]

So it looks like this won't work currently. I have not tried it. mr.roboto could be ch

[2015-05-31 22:13] gforcada commented on #108
The only thing missing is making a new mockup-core release (for the test_jenkins karma configuration) and adding it on jenkins.plone.org core tab.

Afterwards we can keep adding browsers (right now only PhantomJS).

[2015-05-31 22:13] #108 closed

[2015-06-02 07:54] tisto opened #113 "Jenkins dependencies jobs are broken"
http://jenkins.plone.org/view/Dependencies/

[2015-06-02 13:33] jensens opened #114 "PR 4.3 jobs are red - not because of the PRs it seems"
from plone-developers list copied:

Hi,

i just found that in several packages the pull request testing fails for
4.3.

for example here http://jenkins.plone.org/job/pull-request-4.3/24/
but in fact all are currently failing
http://jenkins.plone.org/job/pull-request-4.3/ - and only a few because
of real failures as it seems.

May one of testing team have a look please? I cant help here.

regards
J

[2015-06-02 19:59] gforcada commented on #113
I broke them while playing with mr.developer, will fix them right now, finally I have some time again, sorry for breaking them!

[2015-06-02 20:09] ebrehault opened #115 "Robot test failling "OSError: [Errno 12] Cannot allocate memory""
On PLIP - 13350-edit-member-schema-ttw, all the robot tests are failling with the following error:
[code]
Example:
http://jenkins.plone.org/job/plip-13350-edit-member-schema-ttw/12/robot/Robot/Test%20Edit%20User%20Schema/Min%2Fmax%20constraint%20is%20honored/

Anybody heard of something similar?
Is there any special to do in the buildout to avoid memory leaks?

[2015-06-02 20:12] gforcada commented on #113
Ok, so it's not my fault actually but the recent changes made on buildout.coredev, will look into them as well

[2015-06-02 20:31] gforcada commented on #115
That specific job was running at the same time as another job in Node1, maybe that was a bit too much? We still don't have munin installed, so it's hard to say afterwards if there was really a resource problem or not...

You can try to run it again a bit later once there are not so many jobs running.

[2015-06-03 09:09] jensens opened #116 "PR-Testing: please remove default to p.a.discussion"
It is annoying to always have to remove the default value.
Also this lead to mistakes.
So please remove default value for build with parameters.
Help/Description of the field says anyway what to fill in there.

[2015-06-03 09:12] jensens commented on #116
i think its here: https://github.com/plone/jenkins.plone.org/blob/master/jobs.yml#L704

[2015-06-03 21:50] #116 closed

[2015-06-03 21:50] gforcada commented on #116
I thought it was useful, but if it leads to errors... gone.

[2015-06-05 14:03] jensens commented on #116
for the very first time use its useful, afterwards it always additional step delete-before-paste which may result in wrong pastes.

[2015-06-12 05:20] #68 closed

[2015-06-12 05:43] tisto commented on #67
The jenkins workflow plugin now seems to support build wrappers:

https://github.com/jenkinsci/workflow-plugin/blob/master/basic-steps/CORE-STEPS.md#build-wrappers

There is a XVNC Jenkins plugin for headless X servers that is already supported:

https://wiki.jenkins-ci.org/display/JENKINS/Xvnc+Plugin

[2015-06-18 04:26] tisto opened #118 "github post-commit hooks use server IP instead of the domain name."
http://78.47.49.108/roboto/run/corecommit

should be:

http://jenkins.plone.org/roboto/run/corecommit

cc @bloodbare

[2015-06-18 09:12] gforcada commented on #118
I think the problem is that jenkins.plone.org points to cloudflare and then the redirects don't work as expected? We could create a master.plone.org?

[2015-06-18 11:21] bloodbare commented on #118
Exactly, if we point to jenkins.plone.org there is some errors with
cloudflare.

R

El dj., 18 juny 2015 a les 11:12, Gil Forcada Codinachs (<
notifications@github.com>) va escriure:

[2015-06-18 16:33] tisto commented on #118
Right. Ok, then let's leave it as it is...

[2015-06-18 16:33] #118 closed

[2015-06-20 11:29] gforcada commented on #114
Seems to be fixed already, there are some green  builds on http://jenkins.plone.org/job/pull-request-4.3

[2015-06-20 11:29] #114 closed

[2015-06-25 02:15] thet opened #119 "Add "build with parameters" link prominently"
Every time, I want to build a pull request on jenkins.plone.org, I have to search for a really long time for the link to "build with parameters". Today, I gave up and file instead a ticket here:

If this is easily doable, please provide a prominent link on the start page and each subpage to make a "build with parameters". If it's really easy, we should rethink the whole jenkins menu structure - mo

[2015-06-25 02:19] thet commented on #119
Finally i found it, by following a link where i successfully did a build with parameters for plone 5:
http://jenkins.plone.org/job/pull-request-5.0/build

[2015-06-25 05:19] tisto commented on #119
Good idea. Will look into it...

[2015-06-25 08:54] thet commented on #119
I'm using this ticket as a bookmark in the meantime :)

[2015-06-25 13:36] tisto opened #120 "Remove Docker and Pull Request jobs from "Core" tab."
Core tab should just contain the Core jobs. We should create separate tabs for pull requests and docker.

[2015-07-04 19:52] gforcada commented on #120
While I agree with the docker one I'm kind of +0 with pull requests jobs... the more easier to find them the best, although I would not argue match about it, so if there are more people willing to change that go ahead.

[2015-07-08 06:10] tisto opened #121 "Robot output.xml grows until server reaches memory limit because of circular dependencies output."
The PLIP 13350 job fails one robot test with a "MemoryError". It seems this happens when the output.xml files grows beyond 250 MB:

https://groups.google.com/forum/#!topic/robotframework-users/zlO3cHAo55Y

It seems this is triggered by a real robot framework test failure in our case:

[code]
Though, after that there are millions of those lines (that most likely cause the MemoryError):

[code]

@gf

[2015-07-08 06:15] tisto commented on #121
The output.xml file can be downloaded here: http://jenkins.plone.org/view/PLIPs/job/plip-13350-edit-member-schema-ttw/ws/parts/test/test_collection_type_criterion/Test_Type_Criterion/

[2015-07-08 08:34] tisto commented on #121
@gforcada do we have graphviz installed on the nodes? I thought that dependency was gone? https://github.com/plone/jenkins.plone.org/issues/56

[2015-07-08 08:35] tisto commented on #115
Follow up: https://github.com/plone/jenkins.plone.org/issues/121

Will close this one.

[2015-07-08 08:35] #115 closed

[2015-07-26 22:58] gforcada opened #122 "Something to look at?"
Just skimmed over the readme, but looks interesting https://github.com/dropbox/changes

[2015-07-31 10:21] jensens opened #123 "jenkins.plone.org nodes are dead: No space left on device"
Second time, look like a missing cleanup of something (log cycling?)

[2015-07-31 14:21] gforcada commented on #123
A ``/var/log/jenkins/jenkins.log`` (there logrotate in place) of **26Gb** just made master impossible to work on.

Some sort of DDOS? This issue on jenkins seems to be close to what happened: https://issues.jenkins-ci.org/browse/JENKINS-10160

[2015-08-10 10:45] pbauer commented on #123
jenkins is dead again

[2015-08-10 12:05] gforcada commented on #123
The same (fortunately or not) again. ``/var/log/jenkins/jenkins.log`` was 32Gb...

[2015-08-16 19:21] datakurre opened #125 "Unknown entry point or macro 'disk-usage' for component type: 'property'"
I have vagrant master up and Jenksin is available at locahost:8080 (I had to do vagrant up, vagrant provision and vagrant reload to get up to that point).

    $ vagrant provision master
    ...
    PLAY RECAP ********************************************************************
    master                     : ok=34   changed=8    unreachable=0    failed=0

When I run

    $ jenkins-jobs --conf je

[2015-09-07 06:22] tisto opened #126 "Allow to test multiple pull requests."
We could extend the pull request jobs to allow to paste multiple pull request URLs. Right now we have to create a PLIP job for those kind of pull requests. It shouldn't be too hard to test multiple checkouts instead of just one. Any takes?

[2015-09-07 11:40] gforcada commented on #126
So basically adding a loop on https://github.com/plone/jenkins.plone.org/blob/master/jobs.yml#L743-L757 ?

That seems easy, OTOH a PLIP job ensures that other developers can check that code as well, not just you and jenkins (provided you give to it all the pull requests)

[2015-09-07 12:50] tisto commented on #126
Yes. That was my idea. We can still use the PLIP job for more complex
use cases. Sometimes the PLIP job is just overkill though.

Am 07.09.2015 um 13:40 schrieb Gil Forcada Codinachs:

[2015-09-28 10:18] jensens opened #127 "Feature: Use github status api to report back to github PR"
Github has a status api described here
https://developer.github.com/v3/repos/statuses/

This API enables us to report back to github from jenkins.
When a PR jenkins job is triggered it is possible to set the status at github ``pending``. After it finishes the state maybe set to ``success``, ``error``, or ``failure``.

[2015-09-28 10:21] jensens commented on #127
Btw.: The label ``pr testing`` would become superfluos, because even in the list at https://github.com/pulls?user=plone the check status is shown.

[2015-09-28 10:28] jensens commented on #120
seems that docker tab is already gone?
Anyway, if this is still an topic, please keep PR there. If you plan to remove them anyway, at least add an own main tab for PRs.

[2015-09-28 10:28] jensens commented on #126
big :+1: for the feature

[2015-09-28 11:57] gforcada commented on #127
That's something I wanted to implement for quite some time, too many tings to do, but indeed it would be great to integrate it.

[2015-09-28 12:44] tisto commented on #127
We played around with that feature when we build mr.roboto. It works, it is just a matter of taking the time to implement it...

[2015-10-29 23:56] mauritsvanrees commented on #126
Sounds elegant.

[2015-10-30 14:12] gforcada commented on #126
I'm running a jenkins job with two pull requests on it: http://jenkins.plone.org/view/All/job/pull-request-5.0/519/console :-)

Once that shows green I will push the code and close this issue.

[2015-10-30 14:15] #126 closed

[2015-10-30 14:20] jensens commented on #126
yeah!

[2015-10-30 17:37] tisto commented on #126
AWESOME!!! Thanks @gforcada!

[2015-10-30 19:14] davisagli commented on #126
@gforcada your blog post says to let you know if this does not work as expected. Well, I'm not quite sure what to expect. Just put each pull request URL on a separate line? Where's the documentation?

[2015-10-30 21:40] gforcada commented on #126
@davisagli yes, one per line, and thanks for the reminder, I actually added it here: http://jenkins.plone.org/job/pull-request-5.0/build but forget the push the changes to jenkins. Now it should be shown there.

[2015-10-30 21:46] davisagli commented on #126
@gforcada good, thanks!

[2015-10-31 00:01] mauritsvanrees opened #128 "Avoid 'checkout error' mail for 'ci skip' changes"
When you push a change to a package that is not in checkouts.cfg you get a mail like this:

  Subject: CHECKOUT ERROR plone/Products.MimetypesRegistry master

[code]

Can we switch this off for commits that have `[ci skip]` in the commit message? I did two bulk edits this week, with a small change in almost all repos. That leads to a flood of emails.

I don't know where the script lives that does

[2015-10-31 00:03] #123 closed

[2015-10-31 00:04] mauritsvanrees opened #129 "Node 4 offline"
"This node is offline because Jenkins failed to launch the slave agent on it."

[2015-10-31 20:19] gforcada commented on #128
That's on [mr.roboto](https://github.com/plone/mr.roboto/), and yes it needs quite some love :-)

[2015-11-03 02:28] gforcada commented on #129
@svx @tisto any ideas why node4 is not reachable by ssh?

[2015-11-11 12:32] gforcada opened #132 "Create a job to run i18ndude and report back"
See https://github.com/plone/Products.CMFPlone/issues/983#issuecomment-155761501

Basically, wait for @vincentfretin feedback, run ``experimental/i18n.cfg`` from buildout.coredev, save on a file ``bin/i18ndude find-untranslated`` output and send an email about it to plone-i18n mailing list?

[2015-11-11 13:30] vincentfretin commented on #132
I did a bin/i18n-find-untranslated script that produce currently 80 lines. It may be a good idea to run this once a week a mail this to plone-i18n mailing-list. A better idea is to show the differences with the previous run.

[2015-11-11 13:46] vincentfretin commented on #132
You can execute bin/i18n-find-untranslated-diff-from-previous in a cron every week. It gives to stdout something like this:
[code]

[2015-11-11 14:14] gforcada commented on #132
@vincentfretin cool! I will try to work on it at night.

[2015-11-11 16:29] vincentfretin opened #133 "Create a job to run statistics.py for translations stats"
Create a job to run the statistics.py script to have some translations stats and publish it somewhere as plain/text file through nginx.
There is actually two commands to execute, see the beginning of the script:
https://github.com/collective/plone.app.locales/blob/master/utils/statistics.py
You need the gettext package on the server to have the command msgfmt.

The script gives the following outpu

[2015-11-11 16:30] vincentfretin commented on #132
@gforcada You may take a look at #133 as well.

[2015-11-11 16:31] vincentfretin commented on #133
refs https://github.com/plone/Products.CMFPlone/issues/983

[2015-11-11 16:35] vincentfretin commented on #133
We can modify the script to create an output in a different format (html table, progress bar for example). If anybody want to contribute this, please do.

[2015-11-14 12:56] gforcada commented on #132
@vincentfretin is plone-i18n mailinglist open to non-subscribers? As Jenkins is probably not subscribed to it :-)

[2015-11-14 13:04] gforcada commented on #132
@vincentfretin the ``-diff-from-previous`` does not work on Jenkins: we have 4 nodes where jobs are run, so using /tmp as a way to place the previous file is not an option, on top of that, even if we restrict it to a single node, then we have tmpreaper to clean from time to time /tmp folder as robotframework tests leave lots of stuff there which eventually fill up the hard disk.

I have to look at

[2015-11-14 13:06] gforcada commented on #132
**done!**

Jenkins job: http://jenkins.plone.org/view/QA/job/qa-i18n-find-untranslated
Last result: http://jenkins.plone.org/view/QA/job/qa-i18n-find-untranslated/2/artifact/missing.txt/*view*/

[2015-11-14 13:06] #132 closed

[2015-11-14 13:07] gforcada commented on #132
Forgot to say: it runs every week.

[2015-11-14 13:22] gforcada commented on #133
@vincentfretin there is a full blown django app called damned-lies used by the GNOME project, that's probably a bit far fetched, but the user interface is really nice and has lots of ideas worth stealing:

Website: http://l10n.gnome.org/
Source code: https://git.gnome.org/browse/damned-lies/

Something like this would be awesome to have for Plone i18n:
https://l10n.gnome.org/releases/gnome-3-20/

[2015-11-14 13:46] gforcada commented on #133
**done!**

Job http://jenkins.plone.org/view/QA/job/qa-i18n-statistics

@vincentfretin can you double check your statistics script though, it's giving an error: http://jenkins.plone.org/view/QA/job/qa-i18n-statistics/1/console

[2015-11-14 13:47] #133 closed

[2015-11-15 08:29] vincentfretin commented on #133
You introduced a bug ;) The produced raw_numbers.txt was only one line, it should have 529 lines in it. I fixed it in jobs.yml. You need to redeploy I guess.

[2015-11-15 08:38] vincentfretin commented on #132
For the plone-i18n mailinglist, I don't think it's open. Actually I don't now. I don't know who is admin on this mailing-list.

[2015-11-15 08:50] vincentfretin commented on #132
To access artifacts from a previous job, maybe something like this:
[code]

[2015-11-15 09:02] vincentfretin commented on #133
Having an l10n interface like the one GNOME has would be great indeed. Like I said, we can modify our statictics.py script to produce an html table with the same class and steal the css from damned lies. :)

[2015-11-16 09:58] gforcada commented on #133
@vincentfretin thanks for fixing the code, sorry for messing it up!

Pushed, it should work now

[2015-11-16 10:01] gforcada commented on #133
It's not just about displaying statistics you can also commit translations from within it, has a translation workflow and what not, if you have some time look at it, it's really cool (although hard, I  guess, to reuse for Plone...)

[2015-11-20 01:48] mauritsvanrees opened #134 "plone.namedfile changes missing in coredev 4.3"
In coredev 4.3 I have checked out plone.namedfile: https://github.com/plone/buildout.coredev/commit/6621319b7a42f9ec5b6e9197892c293e476ffa81

Then I did a change in plone.namedfile:
https://github.com/plone/plone.namedfile/commit/d6c010ab25c7bf153e92a791e3b560ef6fd3ae5a

I should have done that as a pull request, sorry.

But the change is not ending up in coredev 4.3 in `last_commit.txt`. Is somet

[2015-11-20 10:44] gforcada commented on #134
There's something wrong indeed: https://github.com/plone/buildout.coredev/settings/hooks/4240219

[2015-11-20 10:50] gforcada commented on #134
Seems that somehow mr.roboto was stopped on jenkins.plone.org master and I think I'm the one on blame, as I was playing with it for https://github.com/plone/jenkins.plone.org/pull/131 and I probably left it stopped...

Thanks for noticing!

I already started a job for all the main ones, hopefully nothing broke during these days!

[2015-11-20 10:50] #134 closed

[2015-11-20 11:40] gforcada commented on #127
See https://github.com/plone/jenkins.plone.org/pull/131

[2015-11-20 11:52] mauritsvanrees commented on #134
Looks good, I see one auto commit coming in on 4.3 now.  Thanks.

[2015-11-20 12:01] gforcada commented on #134
Actually that's interesting: even though the automatic commits where not triggered, as *everyone* is using the pull requests jobs and do not merge if they fail the master jobs are still working...

[2015-11-25 00:37] gforcada commented on #129
@plone/ai-team could you provide any feedback on this? Can we just remove it all together or it will come back at any point?

[2015-11-25 06:49] tisto commented on #129
@svx could you reset node4?

[2015-11-25 08:02] svx commented on #129
node4 is back online and connected, but someone should really check the setup, there is something with this node and there is something how the jenkins setup is done for this node

[2015-11-25 09:51] tisto commented on #129
@svx I know. This is why I asked you to do a full reset of the machine some time ago. :)

I would like to set it up from the scratch.

[2015-11-25 10:02] svx commented on #129
Thing is I am kind of swamped with work, maybe I am able to find some time like an hour or so next week, since jenkins is kind of 'special' and usually you guys manage the nodes/master we never included jenkins into our ai.butler setup, so this one is still 'by hand' more or less  :)

So lets write down the steps:

svx:

- rebuild of the bare base, just a base ubuntu 14.04 install
- gives new ip a

[2015-11-25 10:18] tisto commented on #129
I just took node 4 offline before we run into problems. This gives @svx a bit time to reset the machine.

@svx No idea what went wrong. I guess it is much more work to find that out than just to reset the machine.

[2015-11-25 10:20] svx commented on #129
Like I said above there is not really a reset, that does means a new base install :)

[2015-11-25 10:21] tisto commented on #129
Crap. I wasn't aware that this is a new base install. Though, I still think finding the problem would be much much more work...

[2015-11-25 10:23] svx commented on #129
Yes the reasons fro that a above :)  so we go with:

svx:

    rebuild of the bare base, just a base ubuntu 14.04 install
    gives new ip and login to tisto

tisto:

    doing all the jenkins setup
    in charge of keeping the box up to date

?

what ports and ips you need open, I am asking for the firewall setup [send me a mail :)]

[2015-11-25 10:28] gforcada commented on #129
@svx with ssh and http(s) I think it's enough, as jenkins master connects to them via ssh

[2015-11-25 10:32] svx commented on #129
meaning $IP of master and ssh should be enough ?

[2015-11-25 10:34] gforcada commented on #129
$IP of the node :-)

[2015-11-25 10:38] svx commented on #129
you want to allow a connection from/to master right ? so the $IP of master should be allowed to connect [incoming], of course you have to allow $IP of node at master

[2015-11-25 10:39] gforcada commented on #129
Oh I see, yes of course, but also from anywhere in the world (i.e. we also want to connect via ssh to the node)

[2015-11-25 10:42] svx commented on #129
yes !

[2015-11-25 22:04] mauritsvanrees opened #135 "Problems when starting two jobs on same node"
I have made a release 2.1.17 of CMFEditions. Now node 2 has a wrong download of this package. See this output of console 2, the first job where it fails: http://jenkins.plone.org/job/plone-5.0-python-2.7/3386/console

[code]

So it is expecting a file and not finding it. Strange.  The package works fine locally.

But a second job was started around that same time.
http://jenkins.plone.org/job/plon

[2015-11-25 23:46] gforcada commented on #135
We could get rid of the ``.buildout`` folder and instead have a per job one... then we would only need to make sure that the same job does not run twice on the same node and that would be it...

The only problem would be disk size, but I'm not so sure if that's much of an issue actually...

[2015-11-26 17:58] tisto commented on #135
We could get rid of the local buildout cache and use a pypi local pypi
mirror instead.

On Thu, Nov 26, 2015 at 12:46 AM, Gil Forcada Codinachs <
notifications@github.com> wrote:

[2015-11-26 19:03] mauritsvanrees commented on #135
We can keep sharing the download-cache.

[2015-11-29 14:00] gforcada commented on #125
Sorry to go back so late to you... are you using the jjb fork found on my account? You need to enable it manually, sorry did not spend the time to configure properly with mr.developer.

The docs explain everything though: http://jenkinsploneorg.readthedocs.org/en/latest/setup.html

Reopen if it still happens.

[2015-11-29 14:00] #125 closed

[2015-11-29 14:04] gforcada commented on #113
Fixed long ago.

[2015-11-29 14:04] #113 closed

[2015-11-29 14:05] gforcada commented on #120
Can we close this and leave it like it is? Docker is gone but PR stay.

[2015-11-29 14:05] #120 closed

[2015-11-29 14:07] gforcada commented on #70
No need for it.

[2015-11-29 14:07] #70 closed

[2015-11-29 14:10] gforcada commented on #93
We are already using Selenium 2.46 and firefox 34.

[2015-11-29 14:10] #93 closed

[2015-11-29 14:11] gforcada commented on #67
Finally workflow has xvfb support: https://issues.jenkins-ci.org/browse/JENKINS-26555 we need to update to workflow plugin version 1.1.0

[2015-11-29 14:13] gforcada commented on #58
Is this already fixed?

[2015-11-29 14:14] gforcada commented on #42
Still an issue? I guess that by now the jobs are long gone, so better to close and reopen when needed?

[2015-11-29 14:14] #42 closed

[2015-11-29 14:17] gforcada commented on #128
Jenkins can do that too: https://wiki.jenkins-ci.org/display/JENKINS/Ci+Skip+Plugin

[2015-11-29 14:18] gforcada commented on #100
Related to https://github.com/plone/jenkins.plone.org/issues/128

[2015-11-29 14:24] gforcada commented on #38
We now have this: http://jenkins.plone.org/view/All/job/plone-5.0-js/ although it only runs tests for mockup, which is probably fine?

Should we promote this job to the main tab? The nice thing about this job is that it integrates nicely with github as it's a real 1:1 repository - jenkins job...

[2015-11-29 14:26] gforcada commented on #24
Seems to no longer be around, the certificate is expired and if you accept it anyway it throws an error..

[2015-11-29 14:26] #24 closed

[2015-11-29 14:28] gforcada commented on #29
@datakurre @tisto is there any interest on keeping them? it's been ~1 year without actually running them...

[2015-11-29 16:55] datakurre commented on #29
@gforcada I was trying to fix them for themepreview jobs a few months ago, but faced some issue with vagrant setup. I filed an issue for you, but cannot remember anymore where. I should be able to try again soon. Other than themepreview jobs can be scrapped. Once I fix them into themepreview jobs, they can be abstracted there when required.

Gil Forcada Codinachs wrote:

[2015-11-29 20:36] gforcada commented on #29
@datakurre probably this one: https://github.com/plone/jenkins.plone.org/issues/125 ?

[2015-11-29 20:50] datakurre commented on #29
@gforcada Thanks. Probably the issue just that. Will try at some point next week :)

Gil Forcada Codinachs wrote:

[2015-12-01 22:51] gforcada commented on #128
Sorry the previous was unrelated, it needs a fix on mr.roboto...

[2015-12-02 19:55] tisto commented on #81
It seems the bug has been fixed. I just upgraded the plugin and restarted Jenkins. After the login my github permissions were amended:

![jenkins-github-auth-fix](https://cloud.githubusercontent.com/assets/632105/11542238/c58de006-9936-11e5-9617-209615c9409e.png)

[2015-12-02 19:55] #81 closed

[2015-12-03 16:31] tisto commented on #67
Status: I upgraded the xvfb plugin and the workflow plugin now works fine. We can run alltests,alltests-at and robot tests in parallel. Unfortunately the robot framework plugin does not support the workflow plugin yet. This is the last missing piece:

https://github.com/jenkinsci/robot-plugin/pull/12

I also noticed that currently the full workflow job takes around 40 minutes, which is 10 minutes

[2015-12-04 08:42] tisto commented on #67
I just found another blocker. In order to run our builds in parallel the port allocator plugin needs to be fixed:

https://issues.jenkins-ci.org/browse/JENKINS-31449

[2015-12-04 21:46] jensens commented on #127
this works now, but one minor issue left:
For packages PR tested for 4.3 AND 5.0 its reports back to the same, so one overrules the other.

[2015-12-04 22:06] gforcada commented on #127
@jensens true, I will fix that. Thanks for noticing it!

[2015-12-04 22:23] gforcada commented on #127
@jensens should be fixed with https://github.com/plone/jenkins.plone.org/commit/3918fed40bb4a3c13eed43ed35e02bf904dc28f9

[2015-12-04 22:41] jensens commented on #127
thanks!! i think we can close this one now. all done.

[2015-12-04 22:41] #127 closed

[2015-12-05 11:52] datakurre opened #137 "vagrant provision node fails on not being able to execute npm"
[code]

[2015-12-05 11:53] datakurre commented on #125
@gforcada Thanks. It was most probably that I was not using your fork of jjb. For some reason I failed to see that as requirement.

[2015-12-05 11:58] datakurre commented on #29
I'm sorry for still failing to do that. This time I failed already in setting up the vagrant environment
https://github.com/plone/jenkins.plone.org/issues/137

[2015-12-05 12:02] datakurre commented on #137
Node and npm are properly build and PATH to ~jenkins/.local/bin is set, so not sure why this is not working. Tried with ansible 1.9.4.

[2015-12-09 14:53] jensens commented on #85
what about this now ... i.e. using letsencrypt?

[2015-12-17 10:51] Gagaro opened #138 "Test report file was length 0"
Hello,

I have an issue with one of my PR (https://github.com/plone/plone.app.content/pull/67). I have these errors I do not understand and that I can't reproduce locally:

    Test report file /home/jenkins/workspace/pull-request-5.0/parts/test/testreports/plone.app.caching.tests.test_operation_utils.MiscHelpersTest.xml was length 0

http://jenkins.plone.org/job/pull-request-5.0/639/testReport/
h

[2015-12-18 08:28] gforcada commented on #138
@Gagaro I don't see that string on http://jenkins.plone.org/job/pull-request-5.0/639/consoleFull nor on http://jenkins.plone.org/job/pull-request-5.0/640/consoleFull

But anyway if that happens, the script responsible of that should be this one: https://github.com/plone/jenkins.plone.org/blob/master/scripts/pr-update-status.py

[2015-12-21 20:27] jensens opened #139 "Broken: 4.3 PR jobs"
This happens now since dec. 13th
tests passed, then see
http://jenkins.plone.org/view/All/job/pull-request-4.3/194/console
also jenkins reporting to github does not work (even not at start of the job).

    Recording test results
    ERROR: Step ‘Publish JUnit test result report’ failed: No test report files were found. Configuration error?
    Robot results publisher started...
    -Parsing outpu

[2015-12-21 20:30] jensens commented on #139
update: it reported back (as green). but on start it does not reported it. anyway, something is broken.

[2015-12-28 10:23] gforcada commented on #138
That was a "no space left on device" problem fixed by @tisto

[2015-12-28 10:23] #138 closed

[2015-12-28 16:13] gforcada commented on #139
@jensens it did report at the beginning, but on a different commit, see the two commits on https://github.com/plone/Products.CMFPlacefulWorkflow/pull/8/commits

For whichever reason jenkins started only when one commit was there, and hence https://github.com/sixfeetup/Products.CMFPlacefulWorkflow/commit/231a6c53a4ee3c0f2e7f9c98cce2f5bd402a3bb8 has the yellow ball, but when jenkins finished there w

[2015-12-28 16:18] gforcada commented on #139
@jensens but you are right that robot framework tests report to different places on 5.0 and 4.3 jobs and that's still not solved.

[2015-12-28 17:29] #139 closed

[2015-12-28 17:30] gforcada commented on #139
@jensens thanks for reporting and taking the time to debug/inspect what happens. I think I fixed it, at least the robot framework part.

[2015-12-31 10:28] gforcada commented on #139
@jensens and all now it should be really fixed with https://github.com/plone/jenkins.plone.org/commit/2fb781242c860da47dc6954f125cf32b713aa674 maybe there are other problems though, but concerning not finding the test results that should be gone :-)

[2016-01-06 22:43] jensens opened #140 "PR testing reporting broken"
looks like the status report back to github on jenkins for PR tests is broken, on github tests stick to pending.

[2016-01-14 15:55] jensens opened #141 "Failed to read test report file"
Failed to read test report file /home/jenkins/workspace/pull-request-5.0/parts/test/testreports/Products.PortalTransforms.tests.test_transforms.TransformTestSubclass.xml
org.dom4j.DocumentException: Error on line 26 of document file:///home/jenkins/workspace/pull-request-5.0/parts/test/testreports/Products.PortalTransforms.tests.test_transforms.TransformTestSubclass.xml : An invalid XML character

[2016-01-16 13:26] gforcada commented on #141
That's a problem of the test, as it is about transforms, the output is most probably not encoded correctly and thus the parser fails to parse it.

As soon as the test is fixed, the parser will be able to handle it again.

[2016-01-16 13:26] #141 closed

[2016-01-16 13:30] gforcada commented on #140
The problem is that jenkins builder scripts (where we put the bootstrap && bin/buildout && bin/test ) stop automatically as soon as there is an error. So if you have something like:

[code]

The ``bin/something-else`` will not be executed, and thus the script to update github pull requests does not run.

I will try to see if you can actually go around it.

[2016-01-16 14:13] gforcada commented on #140
Testing a possible solution on http://jenkins.plone.org/job/pull-request-5.0/703/console (PR https://github.com/plone/buildout.coredev/pull/157)

[2016-01-16 15:28] gforcada commented on #140
Works :-)

[2016-01-16 15:28] #140 closed

[2016-01-16 15:58] jensens commented on #140
thanks a lot?!

[2016-01-16 15:58] jensens commented on #140
-?

[2016-01-24 16:45] gforcada opened #142 "workflow job is broken (on jenkins job builder side)"
With the new releases of jenkins-job-builder, there is some support for workflow based jobs.

We already have one job using it, although that was when we had on our jenkins-job-builder fork an implementation for it.

So there seems to be some differences and right now trying to re-create that job fails.

[2016-01-25 08:26] gforcada opened #143 "npm installation is broken"
Trying to bring node4 back online is giving me errors when installing node.

For whichever reason I did a manual installation of it, should we just switch to the already provided by Ubuntu packaged versions?

[2016-01-25 16:26] tisto commented on #143
I can look into this. I will set up a Jenkins instance from the scratch for a client and I was planing to look into node/nvm for this anyways.

We do not use the Ubuntu package because it is always outdated. This is Javascript, the only working version is always the latest one. Everything else is broken and nobody cares. ;)

[2016-01-25 16:28] tisto commented on #142
Do you have a link to the newly created job?

http://jenkins.plone.org/view/All/job/workflow/ is green.

[2016-01-26 11:01] jensens opened #144 "Job that shows all deprecation warnings?"
may we have a job that collects all deprecation warnings?

[2016-01-26 16:29] gforcada commented on #143
Ok, thanks for looking into it. But right now we are the ones outdated. We are downloading a specific version of npm not the latest one :-)

[2016-01-27 06:43] tisto commented on #143
I know. We can't just always download the latest version. This would mean we would have to pre-check our setup with every Ansible run (because it could break our build). We have to manually update the version to be sure it is safe. Feel free to upgrade and test...

[2016-01-27 23:56] gforcada commented on #142
@tisto I meant that running ``job-builder la la la la`` fails at generating the workflow job, the job on jenkins.plone.org still works fine. Sorry for the confusion.

[2016-01-28 08:12] gforcada commented on #144
Any example code/package that I could use to test it?

[2016-01-28 20:14] gforcada commented on #144
(replying to myself) plone.app.multilingual

[2016-01-30 01:06] gforcada commented on #129
Up again!!

[2016-01-30 01:06] #129 closed

[2016-01-30 08:32] mauritsvanrees commented on #129
Thanks all!

[2016-01-31 08:20] gforcada opened #145 "log rotate /var/log/jenkins/jenkins.log"
I think it's not the first time that jenkins stops working...

I noticed that I could not create a new jenkins job and after looking around I noticed that `/var/log/jenkins/jenkins.log` was 26Gb big and hard disk was completely full.

We need to add monitoring #4 and log rotation

[2016-01-31 08:26] gforcada opened #146 "Create a github user to write the code analysis comments"
I enabled some repositories to be monitored by jenkins.plone.org for code analysis but to not be  blocked by that I did use one access token from my user.

For pull requests that's not a problem, but for code analysis as we report it as a comment it seems that **I'm** the person writing them. See https://github.com/plone/plone.app.testing/commit/78da35120e4b5fed7466d64ca438af0269f10291 for an exam

[2016-01-31 09:22] tisto commented on #146
@gforcada There is a jenkins user for mr.roboto already. Ping me for username/password.

[2016-01-31 10:05] gforcada commented on #146
@tisto no need for that, you could do that yourself: create a token for that user and put it on http://jenkins.plone.org/configure on the ``GITHUB_API_KEY`` environment variable.

[2016-01-31 10:06] gforcada commented on #146
https://help.github.com/articles/creating-an-access-token-for-command-line-use/

[2016-01-31 23:16] jensens opened #147 "code-analysis job: github u'message': u'body is too long (maximum is 65535 characters)'"
see http://jenkins.plone.org/view/Pkgs/job/package-plone.app.discussion/1/console

    [package-plone.app.discussion] $ python /tmp/hudson8276875491846503469.py
    Traceback (most recent call last):
      File "/tmp/hudson8276875491846503469.py", line 116, in <module>
        body=comment
      File "/usr/local/lib/python2.7/dist-packages/github/Commit.py", line 149, in create_comment
        inp

[2016-02-01 00:13] gforcada commented on #147
That's even more of a reason to not add automatically a job for each repository, but only when they are cleaned.

jenkins starts a job for each branch the first time it runs, so it is inevitably that some really old branches would have plenty of errors.

In a way I would say that it is a *feature* as it prevents to spam branches that anyway are not meant to be cleaned up either.

Sounds good?

[2016-02-01 07:40] jensens commented on #147
:D ok, nice "feature"

[2016-02-01 07:40] #147 closed

[2016-02-01 11:45] gforcada commented on #146
User is jenkins-plone-org and jenkins.plone.org is already update :-)

[2016-02-01 11:45] #146 closed

[2016-02-09 23:06] mauritsvanrees opened #150 "Jenkins: No space left on device"
I have been pushing Jenkins rather hard this evening, with lots of "should be harmless" commits like adding setup.py classifiers.
I now see several failures like:
- No usable temporary directory found
- No space left on device

For example:
- http://jenkins.plone.org/job/plone-4.3-python-2.7/1165/console
- http://jenkins.plone.org/job/plone-5.0-python-2.7-at/4060/

Maybe it will all be alright if

[2016-02-09 23:43] mauritsvanrees commented on #150
Never mind, the main Jenkins jobs are all green again.

[2016-02-10 09:57] gforcada commented on #150
No actually node3 is still at 100% of disk usage.

[2016-02-10 09:58] gforcada commented on #150
It will not fix the issue per se, but at least it will help: https://github.com/plone/jenkins.plone.org/issues/111

[2016-02-10 15:55] pbauer opened #151 "Move jobs from jenkins.starzel.de to jenkins.plone.org"
We moved our companies tests to gitlab-ci and would like to kill the server and jenkins.

On https://jenkins.starzel.de we still run two jobs:

1. CMF-trunk_Zope-trunk: At https://jenkins.starzel.de/job/CMF-trunk_Zope-trunk/ we test https://github.com/zopefoundation/CMF-buildout
2. zopetoolkit_trunk: At https://jenkins.starzel.de/job/zopetoolkit_trunk/ we test https://github.com/zopefoundation/zop

[2016-02-10 16:04] gforcada commented on #151
@pbauer it's sort of there already, a bit hidden though: http://jenkins.plone.org/view/Zope/ but I will take a look at them again. Could you attach their configuration (if there are no passwords/secrets)?

Just append config.xml on the job URL and you will get it, like http://jenkins.plone.org/view/Zope/job/zope-cmf-27/config.xml

[2016-02-10 16:20] pbauer commented on #151
@mauritsvanrees said they are not tested there. I actually don't know.

Here are the configs:
[zopetoolkit-trunk_config.xml.txt](https://github.com/plone/jenkins.plone.org/files/125076/zopetoolkit-trunk_config.xml.txt)
[CMF-trunk_Zope-trunk_config.xml.txt](https://github.com/plone/jenkins.plone.org/files/125078/CMF-trunk_Zope-trunk_config.xml.txt)

[2016-02-11 19:31] gforcada commented on #121
I think we can close this already. graphviz is no longer around and we haven't seen this error for a good while.

[2016-02-11 19:31] #121 closed

[2016-02-11 22:38] mauritsvanrees commented on #150
Node3 is still out of disk space:
http://jenkins.plone.org/job/plone-4.3-python-2.7/1174/console

[2016-02-11 22:58] gforcada commented on #150
@mauritsvanrees I saw it and made some small cleanup, should be enough for some days... I'm really tired now, I will try to get a more permanent solution tomorrow morning

[2016-02-12 21:42] #119 closed

[2016-02-12 21:43] gforcada commented on #119
@thet refresh your browser and let me know if it's prominent enough already :-)

[2016-02-13 11:24] pbauer commented on #151
@gforcada thanks for setting these up. Can I shut down our old jenkins-jobs then?

[2016-02-13 13:42] gforcada commented on #151
I would say so, at least the configuration is already saved here, so nothing gets lost

[2016-02-17 18:49] mauritsvanrees commented on #128
I see the superfluous quote at the end of the mail, that I mentioned above, has been fixed by @gforcada in 6ff0012d7044371d1c711aa4b84ad22bc5627438. Thanks.
See the mr.roboto pull request from two minutes ago for the rest.

[2016-02-17 18:58] mauritsvanrees commented on #100
The linked pull request should help.

Note that above we are talking about an `[fc]` tag, but that is the tag that mr.roboto adds to fake commits that it itself makes to coredev. That commit is what makes Jenkins start up jobs again, if I see it correctly.

My mr.roboto pull request basically solves it by not creating these fake commits when there is a `[ci skip]` tag in the base commit. The `vers

[2016-02-18 16:35] #128 closed

[2016-02-18 18:07] mauritsvanrees commented on #135
I am seeing this again, and have seen it multiple times in between. Now it is a plone.app.i18n package that gets broken because two jobs are installing it at the same time.

There is a `~/.buildout/default.cfg` on all nodes I guess? And it has an `eggs-directory` and `download-cache` setting, right? I think we can keep the `download-cache` and should remove the `eggs-directory` setting. Then we on

[2016-02-18 22:38] gforcada commented on #135
@mauritsvanrees yes you are right the ``default.cfg`` is there with

[code]

Removing the first line then it would mean that nearly every job will have ~1Gb of data, which given our  hard disk shortcomings some weeks ago does not look like a realistic option.

@svx can we get more hard disk on the nodes?

[2016-02-20 20:28] gforcada commented on #100
@mauritsvanrees can we close this one now?

[2016-02-20 20:28] #100 closed

[2016-02-20 20:50] mauritsvanrees commented on #100
Yes!
It's working fine so far for me.

[2016-03-06 13:09] #91 closed

[2016-03-06 13:31] gforcada opened #153 "Document how to trigger manually trigger a jenkins job pull request"

[2016-03-07 00:09] #153 closed

[2016-03-08 10:20] jensens opened #157 "Jobs for 5.1"
We need PR jobs for 5.1 and "main" tests against 5.1 please.

[2016-03-08 12:13] gforcada commented on #157
I have them ready, I just need to double check them before pushing. I fall asleep yesterday night :-)

[2016-03-08 19:42] gforcada commented on #157
Pushed in https://github.com/plone/jenkins.plone.org/commit/6cf4c9c39a17d963970a93637cde8cc773dfad13 but there are some work still to do.

Jobs are being created.

[2016-03-08 19:42] #157 closed

[2016-03-08 19:44] gforcada opened #158 "themepreview jobs status"
@datakurre with the new 5.1 jobs, themepreview ones should be updated to that one as well? I think that since we moved to jenkins-job-builder they have never ever run.

What are your plans regarding them?

Or not just you but is someone else up for this task? Please speak (or write) up! :-)

[2016-03-08 19:46] gforcada opened #159 "docker job"
@svx @bloodbare there is a jenkins jobs that creates a new build of docker if the robotframework tests do pass.

So far it was only doing 5.0 images, but now with 5.1, should it only build 5.1 images as well or still 5.0?

I have no clue what that job is doing nor what entails changing from 5.0 to 5.1, so could you please either you or anyone else that understands the job speak up? Thanks in advan

[2016-03-08 19:48] gforcada commented on #142
And now on top of this brokeness we need to update it to 5.1. Does it make sense to do have it for both or only 5.1? Let me know your plans (or anyone else that feels up for the task) regarding this job.

[2016-03-08 20:02] svx commented on #159
@gforcada that is a project from @bloodbare :)

The docker other docker images are in https://github.com/plone/plone.docker and these are not using our ci setup

[2016-03-08 20:17] datakurre commented on #158
You may remove themepreview jobs for now to ease bookkeeping.  I'll ping you when I have managed to update them for the current SauceLabs tools, and if I'm unable to add them myself. I try to remember them, when I have empty slots to do community stuff.

Gil Forcada Codinachs wrote:

[2016-03-08 20:51] #158 closed

[2016-03-08 20:54] gforcada commented on #158
@datakurre thanks for the quick response. I removed them from jobs.yml and on jenkins.plone.org. Let me know if you need any help bringing them back (specially on the jobs.yml part)

[2016-03-08 20:55] gforcada commented on #159
@svx thanks for the quick response!

@bloodbare is this job still needed then? Or the official docker images are enough for your purposes?

[2016-03-11 11:05] jensens opened #160 "QA tests for firstlevel namespace != 'plone/' broken"
see https://github.com/plone/plonetheme.barceloneta/pull/90#commitcomment-16523589

[2016-03-11 12:11] gforcada commented on #160
I can not see the comment you linked, do you care to explain a bit more?

[2016-03-11 12:18] jensens commented on #160
It seems the qa check depends the code to be in a subdirectory "plone/" and does not work for other subdirectores, like "plonetheme/".

looks like the comments are not very sticky in github...

[2016-03-11 12:22] gforcada commented on #160
@jensens where do you see that? Maybe I'm just too blind/busy but I see http://jenkins.plone.org/view/Pkgs/job/package-plonetheme.barceloneta/ being green...

[2016-03-11 12:25] jensens commented on #160
indeed, but the now gone comment included a traceback complaining it cant find a directory 'plone/' or alike.

[2016-03-11 12:27] gforcada commented on #160
oh, that one was probably old. I already fixed that last week or so ago: https://github.com/plone/jenkins.plone.org/blob/master/jobs.yml#L214

[2016-03-11 12:27] #160 closed

[2016-03-11 12:33] jensens commented on #160
sorry for the tempest in a teacup

[2016-03-16 08:46] do3cc opened #161 "Have dedicated Plone job, testing if buildout still works with latest setuptools version."
If that job would post to twitter, I'd follow that bot ;-)

[2016-03-16 08:55] tisto commented on #161
@do3cc not a bad idea. Open another issue. :)

[2016-03-16 08:55] tisto commented on #161
+1

[2016-03-16 09:01] gforcada commented on #161
That should be fairly trivial to do... the twitter part is another story, but it would be a good idea that *some* jobs report to twitter as well...

[2016-03-16 09:02] do3cc opened #162 "Have some bots use the twitter plugin to tweet build failures"
https://wiki.jenkins-ci.org/display/JENKINS/Twitter+Plugin

I would not follow a twitter bot for plone5, for this I have ccmenu. But I would follow the twitter bot for #161 Because that affects me much more often directly. Even if only because I look at incoming buildout bugs.

[2016-03-19 13:24] #161 closed

[2016-03-19 13:24] gforcada commented on #161
There you go: http://jenkins.plone.org/view/QA/job/qa-setuptools/

Just running ``bin/buildout`` is enough? Or it has to run all the tests as well?

[2016-03-19 14:11] gforcada commented on #162
Bad news :-( I installed the plugin, configured it with a twitter user, but it does not work :-/

Seems that the plugin is broken/unmaintained https://issues.jenkins-ci.org/browse/JENKINS/component/15584/?selectedTab=com.atlassian.jira.jira-projects-plugin:component-summary-panel

We can of course cook our own twitter connector...

[2016-03-21 07:27] tisto opened #163 "Node3 is offline."
http://jenkins.plone.org/computer/Node3/

[2016-03-21 07:35] svx commented on #163
node 3 is not offline, I can ping the node and the monitor interface is telling me that the node is online, so the node is at least not offline
![node3-ping](https://cloud.githubusercontent.com/assets/358860/13912654/c8441996-ef3f-11e5-9ce3-7c1dc6c9d5c3.png)

[2016-03-21 07:37] tisto commented on #163
Yep. I can ssh into the machine. Seems Jenkins master is the problem...

[2016-03-21 08:01] tisto commented on #163
Node3 is online again. No idea what went wrong...

[2016-03-21 08:01] #163 closed

[2016-04-01 15:20] jensens opened #164 "view of robot report fails"
I have a failure in a robot test, but the report does not open.
Click on ``Open robot_report.html`` at
http://jenkins.plone.org/job/plone-5.1-python-2.7-robot/143/

[2016-04-01 15:28] jensens commented on #164
@pysailor pointed to at IRC to https://issues.jenkins-ci.org/browse/JENKINS-32118

[2016-04-05 12:18] Gomez commented on #151
Thanks @gforcada Closing as we disabled the jobs a while ago.

[2016-04-05 12:18] #151 closed

[2016-04-14 22:41] mauritsvanrees opened #165 "Problems on Node 2"
Several Jenkins jobs are now failing fast on node 2.
- http://jenkins.plone.org/job/plone-4.3-python-2.7/1343/ plus the two after it (two commits by me, plus a manual rebuild by me).
- http://jenkins.plone.org/job/pull-request-5.0/1126/ (also by me)

Relevant part of the console log seems this, taken from the first 4.3 one, but looks similar in the others:

[code]

[2016-04-15 00:16] mauritsvanrees commented on #165
Well, http://jenkins.plone.org/job/plone-4.3-python-2.7/1346/ is being executed on node 2 now and looks fine.

[2016-04-15 00:16] #165 closed

[2016-04-15 05:31] tisto commented on #165
There was a xvfb process running on node2. The display numbers are assigned randomly, sometimes it might work, sometimes not. I killed the process so there shouldn't be any problems...

[2016-04-15 09:17] mauritsvanrees commented on #165
Thanks.

[2016-04-28 06:38] tisto opened #167 "jenkins.plone.org is offline"
Will look into it right away...

[2016-04-28 06:42] tisto commented on #167
Ok, Jenkins is back online.

[2016-04-28 07:00] #167 closed

[2016-04-28 07:08] gforcada commented on #167
I was user updating mr.roboto yesterday but did not change anything else...
Do you know what was it?
El dia 28/04/2016 9:00, "Timo Stollenwerk" <notifications@github.com> va
escriure:

[2016-04-28 09:03] tisto opened #168 "Are we using the stable debian-stable for Jenkins?"
@gforcada is it possible that we are not using the stable versions of Jenkins?

http://pkg.jenkins-ci.org/debian-stable/

I ran a dist-upgrade on the master server and ended up with having Jenkins 2.0. As far as I can see everything still works. Though, for the future we should switch to "debian-stable" as soon as Jenkins 2.0 is available there...

[2016-04-28 09:11] tisto commented on #167
Yeah. I ran an dist-upgrade and that installed Jenkins 2. I had to restart Jenkins to make that work again... :)

See #168.

[2016-04-28 10:20] svx commented on #167
I will put this here as a reminder :)

You should be careful with dist-upgrade on production machines, always check before you run it

For dist-upgrades, you can use the --dry-run with sudo apt-get dist-upgrade to simulate running this command without actually performing the upgrade.

**apt-get update** updates the list of available packages and their versions, but it does not install or upgrade a

[2016-04-28 10:55] gforcada commented on #168
@tisto I'm not sure which version of ansible-jenkins are we using right now, but it seems to be using something stable: https://github.com/ICTO/ansible-jenkins/blob/development/tasks/jenkins.yml#L18

Sorry didn't look deeper, I will try to look at it at night.

[2016-05-06 12:13] mauritsvanrees opened #169 "Jenkins on 5.1 fails due to setuptools redirect problem"
The last two 5.1 jobs failed.
http://jenkins.plone.org/job/plone-5.1-python-2.7/322/console says:

[code]

When I download the setuptools zip with curl, I get a '301 Moved permanently' with in html: "The resource has been moved to https://files.pythonhosted.org/packages/source/s/setuptools/setuptools-19.4.zip; you should be redirected automatically."

The 5.0 pull request job I just started has th

[2016-05-06 12:26] gforcada commented on #169
I was having the same on our own project. I think updating to the latest bootstrap.py helps (on our local project I fixed that by having a local setuptools egg and ez_setup.py)

[2016-05-06 12:30] gforcada commented on #169
Let's see if https://github.com/plone/buildout.coredev/pull/209 fixes it.

[2016-05-06 12:34] gforcada commented on #169
So no, is not enough :-(

[2016-05-06 12:41] mauritsvanrees commented on #169
The script does this:
[code]

Probably autogenerated code. The last one is where it fails. Do you know where this is done? I don't see such code in my jenkins.plone.org checkout.

[2016-05-06 12:56] gforcada commented on #169
That's the scripts that jenkins runs, but the problem is still this one I think: https://github.com/pypa/setuptools/issues/568

[2016-05-06 13:06] gforcada commented on #169
It's related to setuptools at the end, the latest version 21.0 removed ez_setup.py from itself http://pythonhosted.org/setuptools/history.html#id1 so the combination of bootstrap+ez_setup+download setuptools fails somewhere due to that...

[2016-05-06 13:08] gforcada commented on #169
Next try on the pull request works: http://jenkins.plone.org/job/pull-request-5.1/177

[2016-05-06 13:24] mauritsvanrees commented on #169
You say it works? I still see the same error on that link.

[2016-05-06 13:28] mauritsvanrees commented on #169
I don't think the removal of `ez_setup.py` from setuptools 21 is the problem, because we are using setuptools 19.4. But there may be some subtlety that makes it involved after all.

[2016-05-06 13:30] mauritsvanrees commented on #169
Ah, you mean http://jenkins.plone.org/job/pull-request-5.1/178/console which *is* working. Cool.

[2016-05-06 13:33] #169 closed

[2016-05-06 17:14] jensens commented on #150
looks like this one hit us again:
error: could not create 'build': No space left on device
http://jenkins.plone.org/job/pull-request-5.1/179/console

[2016-05-06 19:17] mauritsvanrees commented on #150
Several jobs have failed, four now, all are on node number 1.

[2016-05-07 05:39] gforcada commented on #150
@mauritsvanrees I saw the report on community.plone.org and fixed it. We have lots of jobs and they do take a **lot** of space... Anyway I cleaned up a bit and now it's a bit better.

[2016-05-07 19:45] mauritsvanrees commented on #150
Thanks, Gil.

I wonder if it makes sense to somehow make a split, so that for example the Plone 4.3 jobs always run on Node 1 or 2, and Plone 5.0 on 3 and 4. That should mean only roughly half the disk space is needed, but at the cost of more configuration...

[2016-05-09 07:27] tisto commented on #150
@mauritsvanrees I would prefer not to bind jobs to certain nodes. We had that in the past and that drasically reduced the flexibility and led to a situation where jobs could run only on certain machines. Hardware is cheap, our time is not. Let's try to get more hardware...

[2016-05-09 07:33] mauritsvanrees commented on #150
More hardware is certainly better. That would also reduce the need (perceived by me at least) for measures like this: https://github.com/plone/jenkins.plone.org/pull/166

[2016-05-11 20:55] gforcada opened #170 "Update python version on master"
mr.roboto just gained a functionality to check if a pull request is adding a changelog. For that it downloads the pull request diff and analyzes it.

Unfortunately github redirects to a domain that gives an SSL error on python 2.7.6.

[Some](http://mbless.de/blog/2016/01/09/upgrade-to-python-2711-on-ubuntu-1404-lts.html) point to compile and install your own python version and use it in a virtual

[2016-05-12 14:06] mauritsvanrees opened #171 "Changelog verifier wrongly complains when CHANGES.rst is missing"
See for example https://github.com/plone/Products.TinyMCE/pull/143
The changelog verifier claims that no changelog entry was found, but this is wrong.
Problem is probably that this package does not have a `CHANGES.rst` but a `HISTORY.rst`.

Some things that could work:
- Do not do the check when `CHANGES.rst` is missing. Danger is then that the checker says everything is fine even though a changel

[2016-05-12 14:37] gforcada commented on #171
It should do so already: https://github.com/plone/mr.roboto/blob/master/src/mr.roboto/src/mr/roboto/subscriber.py#L20

I will take a closer look later today

[2016-05-12 15:06] tisto commented on #170
I've been there and struggled with deadsnakes. Ended up with compiling my own python version. In the end it will be more work if you would try it I guess...at least that was my experience some time ago...

[2016-05-12 19:59] #171 closed

[2016-05-12 20:01] gforcada commented on #171
Should be fixed...

[2016-05-12 22:25] gforcada commented on #170
By now, even more lazily, I disabled verifying the SSL certificate as a quick fix. I will see if I have time to work on it.

[2016-05-15 00:16] mauritsvanrees opened #172 "Disable changelog verifier fore buildout.coredev"
In buildout.coredev we have no `CHANGES.rst` file, so the verifier complains that there is no changelog entry. See for example https://github.com/plone/buildout.coredev/pull/213
Maybe add a list of packages that are ignored by this check? The coredev buildout is the most important one that comes to mind.

[2016-05-15 06:15] gforcada commented on #172
Yeah, I had that in mind already and some packages were already there, so it was as simple as adding another element on a list :-)

Fixed in https://github.com/plone/mr.roboto/commit/18ea4d22a68739ad5e2ff86191b33a8ca283bc72 and deployed. As soon as you change the pull request it will not be shown anymore.

Thanks for reporting!

[2016-05-15 06:15] #172 closed

[2016-05-15 17:38] mauritsvanrees commented on #172
Yep, that works. Thanks.

[2016-05-19 13:43] esteele opened #175 "Job to handle dist.plone.org uploads"
The dist.plone.org upload part of the release process is a bit time consuming and could be replaced with a fairly simple jenkins job.

My process is basically to run buildout against a config with

[code]

and then upload the versions.cfg and everything in release-cache/downloads/dist/ to a <whateverversion-pending> directory on dist.plone.org.

[2016-05-19 15:17] gforcada commented on #175
@esteele some questions then:

- credentials for dist.plone.org
- which folder on dist.plone.org I guess is not always the same, so how does the script knows where to upload it?
- by versions.cfg you mean buildout.coredev's versions.cfg right?

Once the credentials is sorted out it seems fairly trivial. I will give it a try today or tomorrow.

[2016-05-19 15:35] svx commented on #175
Hold on please and wait a minute ! :)

I like the idea, but IMHO it is not smart to rush things now !

First of all I have some security concerns which we have to iron out :)

- This would mean we would have to create a restricted user, which can only upload without login to dist, no passwd, key only

- I am further a bit worried because our jenkins setup is not *that* secure, so that also would m

[2016-05-19 16:20] gforcada commented on #175
@svx let's do it then, because I'm half done already :-)

Actually we could keep the job as it is now, only fetch everything, but no uploading, and one then has to log in into the server and do the scp manually, so no stored credentials are needed...

The job: http://jenkins.plone.org/view/Release/job/release-upload-to-dist/

@esteele can you double-check that what's on the environment is ok: http

[2016-05-19 16:23] svx commented on #175
@gforcada if we saying for now someone is uploading manually everything is cool, if we really want that done by jenkins, now, I would like to talk about that first in a private conversation :)

[2016-05-19 16:37] gforcada commented on #175
@svx ok let's discuss by mail then

[2016-05-26 21:39] mauritsvanrees opened #177 "Two CMF builds have been running for 13 and 14 hours"
The CMF27/34 builds are stuck trying to checkout from svn.zope.org.
Looks like svn.zope.org is unresponsive, at least I don't get an answer when doing `svn ls svn://svn.zope.org/repos/main/CMF/trunk`.
It seems best if someone kills these current builds.

Also, it seems wrong to check out from subversion when everything from CMF is on github, but that is another discussion. The job ran fine a week

[2016-05-27 12:25] gforcada commented on #177
@mauritsvanrees thanks for noticing, they are cleaned already. I will check which buildout they are using...

[2016-05-27 12:54] #177 closed

[2016-05-27 13:01] gforcada commented on #177
There was a workspace still around on one of our nodes, so I copied its buildout configuration (funnily enough, all sources where pointing to github, while this buildout was still on svn...) and made this: https://github.com/plone/buildout.coredev/commit/0c95439da796f508656d248b426c65f44f35b363

I'm updating jenkins.plone.org jobs and testing them.

[2016-05-27 13:54] gforcada commented on #170
Time to shake the laziness, we not only need a newer python 2.7 version but a 3.5 one as well (current ubuntu version only ships with 3.4).

We need 2.7.x for the reason stated on the first comment and 3.5 not only to start testing more and more plone packages but specially to integrate work done at the barceloneta sprint that was testing against python 3.5.

I will give it a go.

[2016-06-01 21:37] gforcada commented on #170
I created an ansible role to install python 2.6, 2.7 and even 3.5 https://galaxy.ansible.com/gforcada/compile-python

I will give it a try first with mr.roboto and then with workers and master.

[2016-06-03 20:39] gforcada commented on #170
Fixed with https://github.com/plone/jenkins.plone.org/commit/039604ee058c83c292f2b35c3c951914185e58a1

[2016-06-03 20:39] #170 closed

[2016-06-14 08:36] MrTango opened #178 "The Plone Contributor Agreement check fails if some one was using the Github Editor"
Hi,

i was using the Github TTW Editor to edit the history.txt of a repo and the Plone Contributor Agreement check fails now, because it sees the user web-flow instead of me. But when i loook into the commits, there is  still my username listed.

https://github.com/plone/ansible.plone_server/pull/85

[2016-06-14 11:29] gforcada commented on #178
That's interesting: https://api.github.com/repos/plone/ansible.plone_server/pulls/85/commits

Indeed there's a commiter named GitHub with a noreply@github.com as email.

Whitelisting that user is probably enough.

Thanks for reporting it!

[2016-06-14 12:50] MrTango commented on #178
But we should check if this does not open the door for TTW editing for all users ;)

[2016-06-15 12:03] gforcada commented on #178
No that would be fine as mr.roboto checks **both** author and committer and complains at any of them not being part of Plone organization. But good point nonetheless.

[2016-06-15 19:08] #178 closed

[2016-06-23 11:00] jensens opened #179 "Update firefox to a recent version"
A version that works with Selenium 2. That means Firefox <= 46.

We need to go with 46 for a while until Selenium 3 gets released and stable.

According to https://github.com/plone/plone.jenkins_node/blob/5c14ae9205bc388c9161ef96fee18aa057096357/tasks/browsers.yml#L11 we are using a Firefox coming directly from the stone-age.

This leads to nasty problems such as you can read here (scroll down a b

[2016-06-23 11:53] jensens commented on #179
Ok, installed FF34 locally. There is a TypeError in the minified ``plone-loggedin.js`` with FF34 only. If I switch the whole into debug mode and all works fine.

What a great bug. Wasted time, because we're using an outdated Firefox nobody out there uses.

[2016-06-23 12:05] jensens commented on #179
Revert workaround at https://github.com/plone/Products.CMFPlone/pull/1644/commits/b4cef001a5334fb74a8d039b2683acf5b8953be2 if this one was solved.

[2016-06-24 14:40] jensens commented on #179
fixed by @gforcada with deploying and merging  plone/plone.jenkins_node#8

[2016-06-24 14:40] #179 closed

[2016-06-27 08:29] mauritsvanrees opened #180 "Can't load the profile (firefox)"
We've got a newer Firefox on Jenkins: jay!!!

But the robot tests now say:

[code]

See also https://github.com/plone/jenkins.plone.org/issues/179 and https://github.com/plone/plone.jenkins_node/pull/8

[2016-06-27 21:51] gforcada commented on #180
Maybe we need to update selenium (and related distributions) just like 5.1 branch (on buildout.coredev) on 5.0 and 4.3 branches?

[2016-06-28 10:40] mauritsvanrees commented on #180
Strange is:
- 4.3 works
- 5.0 and 5.1 *robot tests* completely fail to startup, finding no browser. No wait, 5.1 almost goes fine. I thought that one was utterly broken too.
- 5.0 and 5.1 *pull requests* go almost fine, except the robot tests for scenario 'Location query' and sometimes 'After you fix linked page no longer show warning'. For example http://jenkins.plone.org/job/pull-request-5.1/396

[2016-06-28 10:47] mauritsvanrees opened #181 "Remove broken PasswordResetTool egg"
We have a broken egg again, due to two buildouts that ran simultaneously.

[code]

http://jenkins.plone.org/job/pull-request-5.1/397/injectedEnvVars/

This is on Node 3.

[2016-06-28 10:53] mauritsvanrees commented on #180
pull request for 5.0: https://github.com/plone/buildout.coredev/pull/227

[2016-06-28 11:53] gforcada commented on #181
Removed all of them, run again

[2016-06-28 11:53] #181 closed

[2016-06-28 11:53] gforcada commented on #181
Thanks for noticing **and** reporting! :+1:

[2016-06-28 12:00] mauritsvanrees commented on #181
Thanks!

[2016-06-28 13:33] mauritsvanrees commented on #180
More strangeness:
This 5.0 pull request job on Node 4 almost worked, just one test failure: http://jenkins.plone.org/job/pull-request-5.0/1252/injectedEnvVars/

But this 5.0 pull request job with the same pull request (update selenium/robot) plus one extra (backport robot test fix in CMFPlone) completely fails again: `Can't load the profile. Profile Dir: %s`. The test run is not finished yet, so y

[2016-06-28 13:50] mauritsvanrees opened #182 "Code analysis jobs hanging"
There are four code analysis jobs running that keep hanging. the first three on node 1, the last on node 4.

General problem for all is:

[code]

On node one, all have this problem:

[code]

- First one: http://jenkins.plone.org/job/qa-code-analysis/244/console
- http://jenkins.plone.org/job/qa-code-analysis/245/console has as last line: `Report Violations is waiting for a checkpoint on Code analy

[2016-06-28 16:01] mauritsvanrees opened #183 "Disk full on Jenkins nodes"
This job on Node 2 is failing due to disk shortage: http://jenkins.plone.org/job/pull-request-5.1/402/console

Via #182: node 1 is full.
Might need to check 3 and 4 for good measure.

[2016-06-29 10:24] gforcada commented on #183
All of them cleaned again. I guess some jobs keep adding **lots** of content to /tmp and not cleaning up afterwards.

[2016-06-29 10:24] #183 closed

[2016-06-29 10:24] gforcada commented on #183
Thanks for reporting!!

[2016-06-29 19:38] mauritsvanrees commented on #182
These have been stopped now. I think @gforcada did that. Thanks!
I wonder if the next regularly started job will behave well, but we'll see.

[2016-06-29 19:38] #182 closed

[2016-06-29 19:42] mauritsvanrees commented on #180
This is still a problem.
Strangely, it seems 4.3 and 5.1 are behaving fine, but 5.0 not: both the pull request and the robot test jobs fail.

Well, I'll go ahead and merge two related pull requests that bring the 5.0 coredev versions (https://github.com/plone/buildout.coredev/pull/227) and CMFPlone robot tests (https://github.com/plone/Products.CMFPlone/pull/1651) in line with how it is on 5.1.
So

[2016-06-29 19:52] mauritsvanrees commented on #180
Jay! For the moment it seems to work. Both these jobs have correctly finished the first robot tests:
- http://jenkins.plone.org/job/plone-5.0-python-2.7-robot/4755/console (node 1)
- http://jenkins.plone.org/job/plone-5.0-python-2.7-robot/4756/console (node 3)

This older one is still busy, but failing:
- http://jenkins.plone.org/job/plone-5.0-python-2.7-robot/4754/console (node 3)

[2016-07-01 09:22] gforcada commented on #182
@mauritsvanrees I have to take a look at why they were hanging... too much work and not feeling too well prevents me from doing that unfortunately :-/

[2016-07-04 08:31] mauritsvanrees commented on #180
All is well now. I have not seen firefox problems anymore. Thanks!

Note: Firefox 47.0.1 is out with a fix for the web driver, so that sounds like it might be usable for us. But when I update my Firefox version locally and run a robot test, the browser opens without error but the window just stays open and nothing happens. After a while the robot test quits and says basically the same as above: `W

[2016-07-04 08:31] #180 closed

[2016-07-04 10:03] gforcada commented on #180
@mauritsvanrees thanks for looking over it! :bow:

[2016-07-19 17:13] mauritsvanrees opened #184 "GithubAuthenticationToken error on Jenkins"
I am getting this on the last two 5.0 pull requests:

[code]

Also:

[code]

See http://jenkins.plone.org/job/pull-request-5.0/1290/console
More jobs have this currently. These were on Node 1.

But this one failed with the github authentication token error on Node 2: http://jenkins.plone.org/job/plone-5.0-python-2.7-at/4902/console

[2016-07-19 23:10] gforcada commented on #184
@mauritsvanrees thanks for reporting all the issues, I'm rather busy lately and barely keep an eye on jenkins.plone.org

The xfvb issue should be mostly solved, there may be some jobs to be fixed, but it's too late to go through all of them :-/

For the github one I need to be fully awake to connect all the dots, I will try to look tomorrow (today) morning.

[2016-07-24 20:57] gforcada commented on #184
I think I fixed it (just updating the jenkins plugins). Please re-open if it happens again.

[2016-07-24 20:57] #184 closed

[2016-07-25 12:35] jensens opened #185 "Replacement in E-Mail-Subject ignored"
Mails from Jenkins have a subject like so:
`Jenkins Pull Request Job [Failure]: packages ${PKGS}`

Looks like a string substitution is not working.

[2016-07-25 16:29] gforcada commented on #185
Thanks for reporting I will try to take a look

[2016-08-12 17:01] mauritsvanrees opened #186 "plone.app.dexterity 2.3.2 broken on Node 1"
We have another case of two jobs installing fresh packages at the same time, which sometimes leads to broken packages.
These two conflicted:
- http://jenkins.plone.org/job/plone-5.1-python-2.7/668
- http://jenkins.plone.org/job/plone-5.1-python-2.7-robot/685/

A rebuild, ending up on the same node, did not work:
http://jenkins.plone.org/job/plone-5.1-python-2.7/669/consoleFull

So please remove th

[2016-08-15 08:05] gforcada commented on #186
I just removed the egg and created a new job.

[2016-08-15 08:06] #186 closed

[2016-08-15 08:14] mauritsvanrees commented on #186
Looking good. Thank you!

[2016-08-15 21:18] mauritsvanrees opened #187 "plone.formwidget.recurrence 2.1.1 broken on Node 1"
See for example http://jenkins.plone.org/job/plone-5.1-python-2.7-robot/691/consoleFull
Please remove, thanks.

[2016-08-16 09:27] gforcada commented on #187
Removed and started a new job: http://jenkins.plone.org/job/plone-5.1-python-2.7-robot/695/console

[2016-08-16 09:27] #187 closed

[2016-08-18 01:04] mauritsvanrees opened #188 "Products.CMFEditions 2.2.21 on Node 1 broken"
See for example http://jenkins.plone.org/job/plone-5.1-python-2.7/694/consoleFull

[2016-08-18 08:35] gforcada commented on #188
Removed and restarted: http://jenkins.plone.org/job/plone-5.1-python-2.7/696/console

[2016-08-18 08:35] #188 closed

[2016-09-05 11:49] mauritsvanrees commented on #150
Having more disk usage is always good, but that does not need to be tracked here, so let's close this issue.

[2016-09-05 11:49] #150 closed

[2016-10-21 18:10] jensens opened #189 "login at jenkins.plone.org broken"
[code]

[2016-10-21 19:27] gforcada commented on #189
So nothing we can do about it.

[2016-10-21 19:27] #189 closed

[2016-10-26 23:38] gforcada commented on #175
Reference as well: https://github.com/plone/jenkins.plone.org/issues/101

[2016-10-26 23:38] gforcada commented on #101
Closing in favor of #175

[2016-10-26 23:38] #101 closed

[2016-10-26 23:41] gforcada commented on #122
Most probably not, in their docs they say:

[code]

[2016-10-26 23:41] #122 closed

[2016-11-23 22:04] mauritsvanrees opened #191 "Failure on new node 5 fail: no module named github"
Woohoo, I notice node 5 for the first time today. Great!

But the 5.1 pull request job fails (maybe others too):

[code]

This happened for the last three pull requests, which were all started by me. They are for the same [plone.api pull request](https://github.com/plone/plone.api/pull/337), which I restarted to see if it was a glitch:
- http://jenkins.plone.org/job/pull-request-5.1/993/
- http://

[2016-11-23 22:20] gforcada commented on #191
uh, sorry that's right, I wasn't finished but I wanted to keep trying it. I will disable on the meantime!

[2016-11-23 22:22] gforcada commented on #191
Disabled!

[2016-11-23 22:22] #191 closed

[2016-11-24 22:38] gforcada opened #192 "LOTS of jobs missing"
I just noticed that nearly all jobs but the most important (pull request jobs and release ones) ones **just vanished!**

It's great that people try to help and do things, but please test it with vagrant or locally rather than on production...

Fortunately we keep everything in jenkins-job-builder so is a matter or re-creating the jobs, although not really nice to be honest.

[2016-11-26 22:48] gforcada opened #193 "Configure new Jenkins server (to host nodes)"
The nodes are being configured already and their setup is almost done, all configuration and docs can be found either here on jenkins.plone.org repo or on the plone.jenkins_node repo.

[2016-11-27 23:58] gforcada opened #194 "Create a jenkins job to run tests for all packages that are already py3 compatible"
Check that the 5-10 packages claiming Python 3.5 compatibility are actually compatible.

Start small and keep growing packages as they get ported.

Eventually hook that job into the main jobs (i.e. core, AT, robot, JS *and* py3) so that regressions are found as early as possible.

Steps needed:
- [x] test runner: https://github.com/plone/buildout.coredev/pull/282
- [x] jenkins job
- [X] hook into

[2016-11-28 00:03] gforcada commented on #193
Node 5 and Node 6 have been up and running for some days already, let's wait some more days to double check that they do really are working as expected.

[2016-11-28 20:16] #194 closed

[2016-12-22 15:34] jensens opened #195 "Xvfb startup problems"
Sometimes (but not always) jenkins dies with Xvfb startup problems, see also http://jenkins.plone.org/job/plone-5.1-python-2.7-robot/1233/console

I can not make a clear conclusion when it happens, but seems if more than one job on a node is running (but not always as it seems).

[code]

[2016-12-23 13:44] tisto commented on #195
@jensens the xvfb plugin in Jenkins makes sure screens are properly allocated. Sometimes one screen is blocked by a process that died unexpected. Re-starting the node or killing that process solves the problem. Idealy we would start/stop VMs for each test run, but we are not there yet.

[2016-12-26 23:49] gforcada commented on #195
Some days ago I saw two nodes in jenkins that were pointing to the same server, which caused lots of problems like the one you describe...

[2017-01-09 13:44] jensens commented on #195
@gforcada @tisto at the moment the problem is again immanent.

[2017-01-09 15:05] gforcada commented on #195
@jensens if you at least point us to the specific jobs and/or nodes that are failing it would be a bit easier to solve... :-)

Seems it's on Node1 right? I will turn it off for a while. Anyway is the old nodes that should be put off eventually... probably not now though.

[2017-01-09 15:06] gforcada commented on #195
I restarted http://jenkins.plone.org/job/plone-5.1-python-2.7-robot/ let's see

[2017-01-09 15:06] gforcada commented on #195
@jensens thanks for reporting!

[2017-01-23 15:34] jensens opened #196 "the automatic checks are not running"
checks after creating a PR are not running, at least true for buildout.coredev (others not tested).

[2017-02-03 15:17] tdesvenain opened #197 "plone.jenkins_server submodule checkout is wrong"
cf https://github.com/plone/jenkins.plone.org/tree/master/roles

This breaks buildout

[2017-02-09 22:55] tdesvenain commented on #197
likewise, pinned ansible-jenkins is buggy with ansible > 2.2

failed: [master] (item=[u'jenkins.deb.dependencies']) => {"failed": true, "item": ["jenkins.deb.dependencies"], "msg": "No package matching 'jenkins.deb.dependencies' is available"}

the bug is fixed here: https://github.com/ICTO/ansible-jenkins/commit/8867e3bbbc290b4d9c6e7fc163702f4a6cc76710

are the pinned versions mandatory ? if yes,

[2017-02-10 14:10] gforcada commented on #197
@tdesvenain thanks for looking at things, I'm no longer using (internally) ICTO/ansible-jenkins but rather ``geerlingguy.jenkins`` which I found more reliable.

I was planning to switch to it at some point, but that means bringing down jenkins master and that's not so cool  :-/

I will try to push all the local changes I have and check that the vagrant version still works so you can help and test

[2017-02-10 14:40] tdesvenain commented on #197
I also see that the deployment works only with python > 2.7.9 on host
because of a problem with certificates with curl

i locally  added this to pre_tasks of global playbook, but it's messy:

  pre_tasks:
  # Add apt keys
    - name: add key for ppa python repository
      apt_key: keyserver=keyserver.ubuntu.com id=DB82666C state=present
      become: yes

  # Add extra repositories
    - name: Ad

[2017-02-10 14:42] tdesvenain commented on #197
Thanks gil,
I'll try to look at pipeline jobs, Not sure if I can get the time this
week-end, but i'm very enthusiastic about this.

2017-02-10 15:40 GMT+01:00 Thomas Desvenain <thomas.desvenain@gmail.com>:

--
Thomas Desvenain

Téléphone : 09 51 37 35 18

[2017-02-11 12:38] gforcada commented on #197
@tdesvenain I created a ansible playbook to compile all sorts of versions of python, but now the new workers (5 and 6) are already using Ubuntu 16.04 LTS so both py2.7 and py3.x are already up-to-date enough for our needs.

[2017-04-13 12:28] mauritsvanrees opened #200 "No space left on Node 3"
See http://jenkins.plone.org/job/pull-request-4.3/558/console

[2017-04-13 12:47] gforcada commented on #200
I'm cleaning it a bit more but it's already below 95%

[2017-04-13 12:47] #200 closed

[2017-04-13 12:57] gforcada commented on #200
Left if at 80%, node1, node2 and node3 anyway will be removed eventually as they are still on rackspace and we wanted to quit using rackspace for that

[2017-04-13 12:58] tkimnguyen commented on #200
I'm pestering the Wildcard sysadmins to find out when they can give you the new server. It's built but there is some networking config remaining.

[2017-04-13 14:28] gforcada commented on #200
@tkimnguyen let's sort that out during the PLOG 👍

[2017-04-20 21:15] gforcada opened #201 "New jenkins job: run tests for ploneorg.core"

[2017-04-20 21:23] gforcada opened #202 "New jenkins jobs: test a given add-on against unreleased plone versions"
The idea would be to allow add-on developer to test their add-ons against an unreleased version of plone.

This way they will be able to catch regressions even before the final release is made.

The idea would be to ask for the anonymous git repository URL of the package and the branch to be used.

This way the package will do:
- add the package URL on buildout.coredev ``sources.cfg``
- add the pa

[2017-04-21 09:21] gforcada commented on #197
@tdesvenain thanks to PLOG I finally had the time to go through all the configuration and updated everything.

Would you mind giving it a try again? We should try to do a meeting (hangout/IRC) soonish. After PLOG I go for vacations, I will be available on the first week of May.

Let me know when it works for you so you can start collaborating!

[2017-04-21 09:21] #197 closed

[2017-04-21 09:22] gforcada commented on #197
*I'm closing it as the docs are updated and are supposed to work, open new issues if it still breaks*

Docs are at http://jenkinsploneorg.readthedocs.io/en/latest/setup.html

[2017-04-21 09:43] gforcada commented on #196
That will be fixed when is done https://github.com/plone/jenkins.plone.org/issues/111

[2017-04-21 09:43] #196 closed

[2017-04-21 09:45] gforcada commented on #21
*Clean up mode*

This is not happening lately so I'm rather in favor of closing it rather than keeping it around without any action being taken (and probably pipelines can already help on that as soon as we move to them).

[2017-04-21 09:45] #21 closed

[2017-04-21 09:47] gforcada commented on #29
@datakurre are you still interested in bringing them back? I fixed the vagrant environment today, please give it a try if you want, or close the issue and we will open a new one whenever the need arises again.

[2017-04-21 09:49] gforcada commented on #31
*Clean up mode*

Whenever the need arises again, please re-open or create a new ticket.

[2017-04-21 09:49] #31 closed

[2017-04-21 09:56] gforcada commented on #39
*(three years later)* We most probably want to end up using docker, although no work has been started on that.

Right now though, with the new server donated by the foundation since the last Plone Conference and a new another one on the pipeline being donated, probably the need is not that high anymore.

[2017-04-21 09:57] gforcada commented on #40
Still an issue?

[2017-04-21 09:57] #40 closed

[2017-04-21 09:57] #41 closed

[2017-04-21 09:58] gforcada commented on #58
Replying to myself: *yes*.

[2017-04-21 09:58] #58 closed

[2017-04-21 10:00] #60 closed

[2017-04-21 10:05] gforcada commented on #83
The branch is already there, not in the first line of the commit message though.

[2017-04-21 10:05] #83 closed

[2017-04-21 10:10] gforcada commented on #84
We could use [ansible vault](http://docs.ansible.com/ansible/playbooks_vault.html) to keep the secrets, which actually are just 3 github API keys and the private ssh key that connects master to nodes.

[2017-04-21 10:20] gforcada commented on #88
Adding a cronjob could be the solution, although we do not have that many new packages every now and then, and some of them do not need the hooks to begin with...

[2017-04-21 10:23] gforcada commented on #137
This should be fixed now.

[2017-04-21 10:23] #137 closed

[2017-04-21 10:23] #142 closed

[2017-04-21 10:24] gforcada commented on #143
This is already solved.

[2017-04-21 10:24] #143 closed

[2017-04-21 10:26] gforcada commented on #159
I accidentally removed it, should it be recreated?

[2017-04-21 10:26] #159 closed

[2017-04-21 10:29] gforcada commented on #162
If anyone steps up, that's fine, until then, I prefer to close it to not give false expectations.

[2017-04-21 10:29] #162 closed

[2017-04-21 10:34] gforcada commented on #168
We will be using this one as soon as we redeploy master. The changes on the ansible playbooks are done.

@tisto will you have some time early next month to do a quick hangout about the servers? Maybe @tdesvenain would join as well?

[2017-04-21 10:36] gforcada commented on #175
@svx would it be a solution if we host dist.plone.org on jenkins.plone.org itself? This way it can be an internal copy of files, without any network restriction needs. With cloudflare on top it can be probably not so network hungry?

[2017-04-21 10:41] #192 closed

[2017-04-21 10:42] gforcada commented on #193
They do work as expected and even better than expected 😄

[2017-04-21 10:42] #193 closed

[2017-04-21 10:43] gforcada commented on #195
We will be able to fix this once we spin a vm/container to run the tests. Until then, please keep reporting issues as you see them coming.

[2017-04-21 10:43] #195 closed

[2017-04-21 10:51] gforcada commented on #37
We already have https://docs.plone.org/develop/testing/index.html wouldn't that be enough?

[2017-04-21 13:18] gforcada commented on #185
Fixed

[2017-04-21 13:18] #185 closed

[2017-04-21 21:14] gforcada commented on #107
I started some work on this in both the master and nodes roles. I'm using geerlingguy.munin and munin-node. Nothing is deployed so far, I only played with it on vagrant.

[2017-05-01 17:28] gforcada commented on #202
Oops done with #203 :-)

[2017-05-01 17:28] #202 closed

[2017-06-02 13:38] Rotonen opened #205 "Pull request jobs do not pick changes up"
I tried to make a pull request to `plone.app.versioningbehavior` and the change from the pull request does not seem to be picked up by the pull request jobs on `jenkins.plone.org`.

plone/plone.app.versioningbehavior/pull/34
http://jenkins.plone.org/job/pull-request-5.0/63/
http://jenkins.plone.org/job/pull-request-5.1/140/

User error or what's up here?

[2017-06-03 09:30] gforcada commented on #205
@Rotonen I see that the pull requests jobs were started (manually, they don't start automatically) and did run. How do you see that they did not pick your changes?

[2017-06-03 09:32] gforcada commented on #205
On the 5.0 job: http://jenkins.plone.org/job/pull-request-5.0 as it is still the last run (right now), I see that p.a.versioningbehavior is on checkouts.cfg and that on sources.cfg it points to your branch:
[code]

Is there anything else missing?

[2017-06-03 14:14] Rotonen commented on #205
@gforcada so user error, thank you for clearing up how this works.

I was expecting

http://jenkins.plone.org/job/pull-request-5.0/63/changes
http://jenkins.plone.org/job/pull-request-5.1/140/changes

to have picked up the changes from the pull request and display the changelog entry / changeset.

[2017-06-03 14:14] #205 closed

[2017-06-03 20:46] gforcada commented on #205
@Rotonen no, unfortunately so far no one was asking for that, so myself, the one that wrote the pull request jobs, never though of that 😓

[2017-07-10 14:30] #80 closed

[2017-07-12 21:40] gforcada opened #207 "Report from plone.versioncheck"
*Coming over from https://github.com/plone/buildout.coredev/issues/255*

Create a jenkins job that runs plone.versioncheck once per week.

It needs a buildout.coredev 5.1 checkout to run the following command:

``./bin/versioncheck -prb > dependencies.html``

Archive the result so it can be easily checked.

[2017-07-29 21:47] gforcada commented on #168
We use the stable channel from jenkins itself.

[2017-07-29 21:47] #168 closed

[2017-07-29 21:49] gforcada commented on #107
Is there already for quite a while: http://jenkins.plone.org/munin/

[2017-07-29 21:49] #107 closed

[2017-07-29 21:50] gforcada commented on #145
Seems that the file is being rotated (there are 30 files on that folder).

[2017-07-29 21:50] #145 closed

[2017-07-29 21:52] gforcada commented on #145
There is a /etc/logrotate.d/jenkins files which, I guess, was installed by jenkins package itself, cool.

[2017-07-29 21:54] gforcada commented on #84
If someone has time to look at it, please do so, meanwhile, I'm closing it.

[2017-07-29 21:54] #84 closed

[2017-07-29 22:08] #112 closed

[2017-08-01 09:07] gforcada opened #209 "Limit qa-code-analysis to 2 hours"
I have to look at why is it getting stuck, but meanwhile, limit it.

[2017-08-01 20:45] #209 closed

[2017-10-21 12:58] pbauer opened #212 "Update http://jenkins.plone.org/py3/"
can we get a freshly built version of that amazing site?

[2017-10-21 13:03] pbauer commented on #212
Also it would be nice to have documentation how to update that on our own :-D

[2017-10-21 21:08] gforcada commented on #212
It is actually, although a bit obfuscated, but hey, until today nobody asked 😛

Code is here: https://github.com/collective/ztk-py3-status
Docs are here: https://github.com/collective/ztk-py3-status/blob/master/package_delta.py
To update it on jenkins.plone.org we could either add a cron task or keep it as it is now to update it manually.

[2017-10-26 15:26] pbauer opened #213 "please remove changenote-check from plone/training"
I'm not sure it is configured here or in mr.roboto but the check for a changenote in https://github.com/plone/training should go away.

[2017-10-29 06:17] gforcada commented on #213
Is on Mr.roboto I will remove it and deploy the changes.

Ping me back if I didn't do it in a few days

[2017-11-03 05:46] gforcada commented on #213
Done

[2017-11-03 05:46] #213 closed

[2017-12-06 23:25] gforcada commented on #212
@plone/framework-team for those of you interested (or anyone else actually) I updated it again by switching to 5.2 branch, see https://github.com/collective/ztk-py3-status/commit/6c39f02e53a4cc4883df764e5360a6420faaaf50 for the packages added/removed. We have 10 dependencies less 🎉

[2018-01-08 14:12] tisto opened #215 "Run plone.restapi performance tests on jenkins.plone.org"
I set up the plone.restapi performance tests on our kitconcept Jenkins. Though, I think it would make more sense to run them on jenkins.plone.org to allow other people to work with it as well. Here is what we need:

- [x] Install JMeter 3.x on our Nodes (just wget http://www-eu.apache.org/dist//jmeter/binaries/apache-jmeter-3.3.tgz, move it to /opt/jenkins and chown to Jenkins user)
- [x] Install

[2018-01-10 09:21] gforcada commented on #215
@tisto yes, I can help out on that, as I don't want to install that manually, if you can provide the pull requests on the ansible jobs that would make things quicker.  Maybe there's already a ansible playbook that installs jmeter..

[2018-01-10 15:40] tisto commented on #215
@gforcada awesome. Here is our ansible snipped to install JMeter:

[code]

We also need to update jenkins-job-builder to support Jenkinsfile pipeline as code:

https://docs.openstack.org/infra/jenkins-job-builder/project_pipeline.html

[2018-01-14 15:00] gforcada commented on #215
@tisto jenkins is on the latest LTS version, same for the pipeline plugins and I just installed jMeter on nodes.

Re-open if there's anything missing.

[2018-01-14 15:00] #215 closed

[2018-01-14 16:31] tisto commented on #215
@gforcada Awesome! Thank you! Is it ok if I play around first with a manually set up Jenkins job? I don't mind if it is deleted at any point. All my work will be in the Jenkinsfile in the repo anyways...

[2018-01-14 17:06] gforcada commented on #215
Sure!

[2018-01-19 20:10] tisto opened #216 "Pull Request Failure on Jenkins: AttributeError: 'NoneType' object has no attribute 'groups'"
Testing my pull request fails:

http://jenkins.plone.org/view/All/job/pull-request-5.1/730/console

with:

[code]

@gforcada any idea?

[2018-01-20 20:49] gforcada commented on #216
@tisto yes, because it is not a pull request, but an issue link: http://jenkins.plone.org/view/All/job/pull-request-5.1/730/parameters/

[2018-01-20 20:49] #216 closed

[2018-02-12 08:56] mauritsvanrees opened #218 "IOError on node 4: disk full"
`[Errno 28] No space left on device`
See https://jenkins.plone.org/job/pull-request-5.2/386/, which ran a PR for https://github.com/plone/Products.CMFPlone/pull/2299.

Possibly related is https://github.com/plone/buildout.coredev/pull/407, which can easily have led to more hard disk space being used.

[2018-02-12 09:01] mauritsvanrees commented on #218
The last five jobs for 5.1 robot tests (1023-1027) have failed too, which may or may not be related.
https://jenkins.plone.org/job/plone-5.1-python-2.7-robot/1027/ strangely lists only 18 robot tests as total, although they apparently all passed.
There were all on node 4 as well.

[2018-02-12 09:21] mauritsvanrees commented on #218
Okay, [5.1 robot job 1028](https://jenkins.plone.org/job/plone-5.1-python-2.7-robot/1028/) is green again, as it ran on Node 1.

[2018-02-12 09:36] gforcada commented on #218
Thanks for noticing, I cleared up `/tmp`:

`/dev/sda1        42G   23G   17G  58% /`

[2018-02-12 09:36] #218 closed

[2018-02-12 09:39] mauritsvanrees commented on #218
Thanks! 👍

[2018-03-11 20:46] gforcada opened #219 "plone.themetest is being used?"
@datakurre @tisto as you are the ones getting the failure for these jobs...

For years we have had a version specific jenkins job for https://github.com/plone/plone.themepreview but actually is always building 5.x-latest.

So the question is two fold:
- do we want to build for each major Plone version? (that would be 4.3.x, 5.1.x and 5.2.x, I guess 5.0 is already old news)
- are these screenshots

[2018-03-11 21:15] gforcada opened #220 "ploneorg theme preview is being used?"
@sneridagh there is a jenkins job that builds plone.org's theme on a daily basis (I just changed it to be on a weekly basis).

It is broken right now and for many months already. Is that actually being used at all? should it be kept?

[2018-03-12 04:31] datakurre commented on #219
I’m sorry for not managing to fix these tests.

I did look them last time in January. Back then there was some error with the commands (like it run all the job script commands on single line and failing because of that), and again I was unable to repoduce it because of some new issue with vagrant setup. (It was weekend, so I did not want to bother anyone and then this fell under radar again.)

Let

[2018-03-12 06:01] gforcada commented on #219
No need to apologize at all! I broke them when I migrated all jobs to use virtualenvs.

I fixed them yesterday, and at least these ones are back in track.

If there is interest we can keep them, of course, that's not a problem.

The question is if someone needs them.

[2018-03-12 06:48] datakurre commented on #219
They were created originally at Cathedral sprint to give visual feedback of Barceloneta theme development (and possible regression) on different viewports. I don’t believe they are actively used anymore. There is very little development on Barceloneta and this just takes screenshots, not really test for regression.

We could make something better when someone has need for these again. Eg. knitting

[2018-03-17 09:21] gforcada opened #221 "docs styleguide job is being used?"
In jenkins.plone.org we have this job https://jenkins.plone.org/view/QA/job/qa-docs-package-styleguide/ that is checking if all our packages have a top level README{.md,.rst} as well as a docs folder.

I fixed it as it was broken for quite a long time, but does anyone care about it anymore?

/cc @plone/documentation-team

[2018-03-23 11:14] jnns commented on #99
If someone from the future stumbles in here looking for help: a missing `Python.h` probably means that your system is missing the Python development package (which provides the required header files).

[2018-03-23 14:37] mauritsvanrees opened #222 "Clone buildout-coredev with depth 1 and specific branch"
I noticed failures today on Jenkins with Plone 5.0 which were caused by a failed clone of coredev.
For example [this one](https://jenkins.plone.org/job/plone-5.0-python-2.7/646/console). It is actually a timeout, when you look at the top of this info:

[code]

I have seen that before, and usually restarted the failed job, and then all was fine.

Here it got about 50 MB of data and then quit. So mu

[2018-03-23 14:40] mauritsvanrees commented on #222
BTW, the Plone 5.0 Python 2.7 job has failed three times in a row now because of this, starting from https://jenkins.plone.org/job/plone-5.0-python-2.7/645/, followed by two restarts from me, all on Node 4.

For the Archetypes and robot tests this failed one time, and I restarted them successfully.

[2018-03-26 21:31] gforcada commented on #222
I'm on vacations, but I think that the original clone, not the ones from buildout that ate already cloning a few commits, can not be reduced as jenkinsvis using it to compare

[2018-03-26 21:34] gforcada commented on #222
Sorry, I clicked on the wrong button... I meant to say that the main clone might not be made it work that way due to Jenkins, I will double check it when I'm back from vacations 😃

[2018-03-28 17:00] jensens opened #223 "build permission gone?"
At https://jenkins.plone.org/ I no longer can use the blue `Build Now` button. In past it worked for me. I.e. here https://jenkins.plone.org/job/plone-5.1-python-2.7-at/

Having this permission is very handy while merging PR's. Otherwise I have to create dummy-pushes, which is ugly.

[2018-03-28 22:56] gforcada commented on #223
No idea what happened, I will have a look when I'm back from vacations. Ping me in z week if I haven't said anything 😃

[2018-03-29 07:08] jensens commented on #223
Thanks, enjoy your vacations!

[2018-03-29 09:49] sneridagh commented on #220
I guess you can drop it, maybe we set that up while developing it.

[2018-04-01 13:27] gforcada commented on #220
ok, I will do so, thanks for answering!!

[2018-04-01 13:27] #220 closed

[2018-04-03 21:50] jensens commented on #223
Update: I just figured out, the blue Build button on the top does not work. The fat Build Now link on the left does work.

[2018-04-04 00:25] gforcada commented on #223
So this is a non issue already :-)

Actually the fat button on top, was a bit misleading, as it was also there on pull request jobs and other parametrized jobs, and on those it never actually worked.

[2018-04-04 00:25] #223 closed

[2018-08-03 14:37] jensens opened #227 "Proposal for Chromium instead of Firefox for Robot Tests"
If it comes to Robot-Tests on Firefox with a lot of JavaScript involved the tests often are unstable. Same tests on Chromium (the OpenSource Google Chrome) are complete stable. Together with my intern we debugged those for quite a while, but it is not obvious what’s going on there. We suppose that there is some timing problem with race condition between the selenium test-driver and the Javascript

[2018-08-03 16:01] Rotonen commented on #227
Do the current Robot tests pass with Chromium? In my recent experience with the Plone Robot tests, different tests are flaky between Firefox and Chromium.

I'd not oppose giving the axe on 5.2 for any flaky Robot test.

+1 per the `chromedriver` packages being way less of a hassle to install on both Debian and Ubuntu as they just come out of the repotree (but unfortunately they do have a different

[2018-08-03 21:39] tisto commented on #227
We (at kitconcept) switched to using Chrome as default for robot testing quite a while ago. Though, we had problems with chromium and switched the standard Chrome which works well. We had some scalability issue with Chrome/Chromium though. If you call the "Open browser" keyword for every single test the Chrome/Chromium process just dies.

I'd be ok with switching. Though, someone would need to mak

[2018-08-04 06:33] gforcada commented on #227
I'm on vacations, around the 13th I'm back.

We can first add a parallel job that runs chrome, and once stable enough we can switch.

[2018-08-14 08:12] jensens opened #228 "error on jenkins"
[code]
or
[code]

Is it possible, that the C binding are outdated and the egg cache needs a reset, in order to make the packages compile again?

[2018-08-15 19:41] gforcada commented on #228
Would you mind saying on which node was that? With this information we can remove the broken eggs.

[2018-08-16 08:38] jensens commented on #228
Well, I try to find it. Or report next time it occurs.

[2018-08-16 11:48] gforcada commented on #228
I guess is the same as https://community.plone.org/t/jenkins-build-failing-w-capi2-errors-missing-c-extensions/7057 so closing.

If you see the same behavior on another node, reopen please.

[2018-08-16 11:48] #228 closed

[2018-09-04 22:34] gforcada commented on #227
@jensens the jobs are up :-)

I will prepare the changes for the pull request jobs, but will not push them right now, as I see some tests failing on chrome but not on firefox... if someone can have a look at it...

[2018-09-05 07:18] jensens commented on #227
@gforcada Great! I will have a look next week. May you point me to the output at Jenkins, where I can see which are failing?

[2018-09-06 20:16] #227 closed

[2018-09-06 20:30] gforcada opened #230 "Use chrome on plip python3 job"
@pbauer the only jenkins jobs that is still not using chrome is the PLIP job for python 3.

As you are manually (still?) changing it, I left it untouched on purpose. Drop a comment here to know that you are interested in getting that as well and how to proceed.

[2018-09-06 21:58] gforcada commented on #222
@mauritsvanrees I finally (oops :sweat_smile: ) had a look at it, and indeed, one can define if a shallow clone should be used and how much history to fetch.

I set it to 50 commits, I hope is enough.

[2018-09-06 21:58] #222 closed

[2018-09-09 07:52] jensens commented on #164
The Jenkins issue above points to a "temporary solution", since it weakens the Content Security Policy.

[2018-09-10 10:14] pbauer commented on #230
@gforcada I have not changes that in quite a while. It now runs:

[code]

Feel free to improve that to use chrome.

[2018-09-10 18:56] tisto commented on #164
@jensens I wrote a blog post some time ago that includes a permanent solution to this problem, by configuring the Content Security Policy properly:

https://kitconcept.com/blog/continuous-performance-analysis-with-lighthouse-and-jenkins/

Here is the link to the Jenkins docs regarding the content security policy:

https://wiki.jenkins.io/display/JENKINS/Configuring+Content+Security+Policy

And the

[2018-09-19 16:38] tisto opened #231 "No virtualenv installed on Jenkins nodes"
I set up a Jenkins pipeline job the other day that ran on Node4, because that is the only node that has virtualenv installed. This node is gone and the first three nodes do not seem to have virtualenv installed.

@gforcada is virtualenv installed on the machines?

[2018-09-19 16:40] tisto opened #232 "Jenkins node configuration should live on the server not on the Jenkins configuration"
Currently, we have the Jenkins node configuration stored on Jenkins itself. It would be better to hide that complexity from Jenkins and allow Jenkins to connect to nodes by just running "ssh node1". This also would make it easier for other admin users on the Jenkins server to connect to the node.

I just had to look up the IP addresses and port on the Jenkins UI to simply connect to one of the nod

[2018-09-19 16:42] tisto opened #233 "Make bash the default shell on Jenkins nodes"
Not having bash (or any other proper shell) on the Jenkins nodes makes it harder to debug things there. We should use the default bash on the Jenkins nodes.

[2018-09-19 19:12] tisto commented on #231
@gforcada I investigated this a bit and found out that we are using self-compiled Python versions which makes it impossible to just install virtualenv by installing python-virtualenv. With Python 2.6 gone can we now go back to using the system Python?

[2018-09-19 19:41] tisto opened #234 "Updating nodes fails on Node install"
Running ./update_nodes.sh fails for me:

[code]

In addition, for Plone-React we need to install Node 8. This is the recommended LTS version, so we might want to go with that.

cc @gforcada

[2018-09-19 19:48] gforcada commented on #231
@tisto there is no need for that, we have virtualenv available for py27 on ``/srv/python2.7/bin/virtualenv`` for all python 3 versions (3.6 and 3.7) the binaries are enough, and they can be found on ``/srv/python3.6/bin/python`` and ``/srv/python3.7/bin/python``

If that is not enough, please reopen and let's discuss further.

[2018-09-19 19:49] gforcada commented on #231
Oh, regarding self compiled or distributions, @Rotonen provided some patches to optimize the binaries so that tests would run faster, and we don't have to rely on other to update to a newer version of the packages either.

[2018-09-19 19:51] gforcada commented on #234
I might have some bits not pushed, let me have a look.

[2018-09-19 19:54] gforcada commented on #234
@tisto

[code]

Is that enough?

[2018-09-19 19:55] tisto commented on #234
Yep. That should work.

[2018-09-19 19:59] tisto commented on #231
@gforcada running a Python version on the CI that differs from what most people are using (system Python) is an anti-pattern of CI IMHO. The CI environment should be identical or at least as close as possible to production systems. On a production system you don't want to use self-compiled Python because you are on your own when it comes to security updates and patches.

[2018-09-19 20:00] tisto commented on #234
@gforcada I don't see that on the repo. I have to run the node deployment and add some packages...

[2018-09-19 20:01] sunew commented on #231
I agree 110%

[2018-09-19 20:13] tisto commented on #234
@gforcada FYI: here is the ansible script fragment that I need to run:

https://github.com/plone/plone.jenkins_node/commit/03317aedc307720297919558aacc85d4113f1e31

[2018-09-19 20:21] tisto opened #235 "Modernize jenkins.plone.org"
Long-term roadmap:

- [ ] Move to a new server. Hetzner announced the end-of-live for the vServer we are currently using
- [ ] Connect Jenkins with Github via the Jenkins-Github plugin. This drastically reduces the configuration we have to store on our Jenkins server. The plugin auto-detects repos with a Jenkinsfile configuration and automatically creates the necessary hooks. Configuration becomes

[2018-09-19 20:50] gforcada commented on #235
@tisto all nice and dandy, but as every time we talk about it: who has the time to invest on it?

Regarding Jenkinsfiles, it reduces the core jobs, but you still have to keep mr.roboto around to automatically ping it. Or did I miss something?

[2018-09-19 20:51] gforcada commented on #234
Let me have a look, you and @pbauer are swamping me with all the issues :-) keep them coming though!

[2018-09-19 21:04] gforcada commented on #234
@tisto those packages should be installed, anything else?

[2018-09-19 21:04] #234 closed

[2018-09-19 22:15] gforcada commented on #144
On py3 warnings are already shown, is that enough? :thinking: reopen if not.

[2018-09-19 22:15] #144 closed

[2018-09-19 22:47] #38 closed

[2018-09-19 22:47] #85 closed

[2018-09-19 22:48] gforcada commented on #105
As @pbauer and co are not using ``bin/alltest`` but only ``bin/test`` the vast majority of test failures due to isolation problems will be gone already.

[2018-09-19 22:48] #105 closed

[2018-09-19 22:49] #88 closed

[2018-09-20 05:02] tisto commented on #235
@gforcada I just added this as a roadmap/plan. I am aware that someone needs to do this and we are all short on time. :)

The really nice thing about the Github-plugin is that usually, you don't have to worry about anything. As sait, it automatically creates all the triggers and automatically detects and new branches, Jenkinsfiles and also takes care of the pull request updates on Jenkins. The int

[2018-09-20 05:03] tisto commented on #231
@gforcada apart from my comments above. Can we create a symlink in /usr/local/bin for virtualenv to /srv/python2.7/.../bin/python to keep the Jenkinsfile simple and clean?

[2018-09-20 05:04] tisto commented on #235
@gforcada are you going to make it to Tokyo? If not, maybe we can plan a CI sprint next year to tackle this...

[2018-09-20 05:06] tisto commented on #234
@gforcada I need "yarn" (npm packages) and the virtualenv symlink would be nice. That should be it for now. Though, if the repo is up to date and the ansible script working I can add stuff on my own to lift of work from you. :)

[2018-09-20 09:09] jensens opened #236 "Jenkins fails with: undefined symbol: PyUnicodeUCS4_DecodeLatin1"
Looks like this is not b/c of a code change, but b/c of a Jenkins setup problem.

[2018-09-20 09:11] jensens commented on #236
random pick:

[2018-09-20 09:14] Rotonen commented on #231
We're running explicitly UCS2 Python 2.7 compiled with `--enable-optimizations` in production. This is why it also now tries to bleed through from our CI setup to the Plone CI setup.

It's a ~10% runtime benefit for us, but as the tests can run quicker (and probably quick enough) by just running the layers in parallel, this is not strictly necessary for faster runs on 5.2. I recommended the config

[2018-09-20 18:57] tisto commented on #231
@Rotonen could you elaborate your pyenv + pyenv-virtualenv +.python-version solution. I haven't had time to look into this yet. How do you solve moving the path of the virtualenv between pipeline steps?

[2018-09-21 14:01] Rotonen commented on #231
@tisto, if I'm understanding what you mean by 'between pipeline steps', that's baked into how pyenv works. It'll store your Pythons and their environments centrally and it uses the shim resolving mechanism to point to those on the fly, based on your `.python-version`, if the shims are in `$PATH`. It can also be installed for system-wide use in the CI servers / containers and not into userspace.

I

[2018-09-21 14:20] Rotonen commented on #231
To clarify, I've not patched Python itself for the CI runs, but rather provided a patch for the Ansible script to pass a `./configure` flag to use profile guided optimisation.

https://github.com/gforcada/ansible-compile-python/commit/f41a201ead7ddb05fb75283955d2dc343b1e44c3

And I'm unsure as to if it's used on 3.7.

https://github.com/gforcada/ansible-compile-python/commit/51c7a30c6b42f53958d818

[2018-09-21 23:45] gforcada commented on #235
No tokyo for me no :disappointed: a sprint next year would be great yes :+1:

[2018-09-22 04:20] tisto commented on #235
@gforcada Too bad! Yeah, then let's try to get together next year. There will also be the Beethoven sprint in Bonn again and we would love to have you there!

[2018-09-23 22:50] gforcada commented on #234
@tisto yarn is already is already installed. The virtualenv symlink has been just added.

[2018-09-23 22:55] gforcada commented on #231
Regarding system python vs compiled one: is the exact same python the one used on docker/Fedora/Ubuntu/NixOS etc etc? Everyone is deploying on an ever increasing different amount of platforms that who knows how they got their python there.

The symlink for ease virtualenvs is there, and as a extra bonus, although not added, the ansible role that compiles python can now do so for python 2.4, 2.6, 2

[2018-09-23 22:55] #231 closed

[2018-09-27 21:49] gforcada commented on #230
That's done already.

[2018-09-27 21:49] #230 closed

[2018-10-05 08:49] gforcada commented on #236
That was the cache being poisoned, if I recall properly.

[2018-10-05 08:49] #236 closed

[2018-10-05 08:58] gforcada commented on #39
Given that our workload is CPU bound (with moderate disk usage and really low RAM usage) hetzner.de has quite some cheap servers on sale that takes me ~1h (mostly waiting to compile python 3.6 and 3.7) to get a new server online and available on jenkins.

One can find suitable servers for way less than 100EUR, so the Foundation or a generous sponsor could easily fund a server for a month.

One onl

[2018-10-05 08:58] #39 closed

[2018-10-05 10:20] gforcada opened #240 "Run tests in parallel"
During the saltlab sprint (October 2018) @Rotonen worked on getting our jenkins jobs to run the tests in a much faster fashion by splitting the test setup into different layers and parallelizing their run (or something along the lines :sweat_smile: )

During the sprint it was reverted as it still had some issues.

Here is a list of the changes to be done to implement it again on a given job:
- set

[2018-10-05 14:46] Rotonen commented on #240
The mtest script is only relevant if we need to also split execution within a layer. We're in a fortunate position to not have to bother with it as there are no disproportionately slow individual layers standing out from the mass.

Ultimately I hope to tackle that in `zope.testbrowser` itself, but I'm not deep enough into Python multiprocessing shared memory data structures yet to pull that off.

[2018-10-16 13:10] Rotonen commented on #67
The port allocation issues are fixed now, but no, we need to launch a separate build per layer based on the output of:
`bin/test --all --list-tests 2>/dev/null | grep -E '^Listing' | awk '{print $2}' | sort -u`

Our end to end browser tests are picky about their runtime environment to the point where they want a separate Xvfb instance per layer. So we'll either have to roll a hacky test wrapper li

[2018-10-16 15:35] gforcada commented on #67
Are dynamic pipelines possible?  We could make a stage that decides how many parallel jobs the tests can be split into and then have these amount of jobs created...

Or just have one stage/job per unit tests/functional/robot and split there.

[2018-10-16 15:48] Rotonen commented on #67
They are possible.

https://stackoverflow.com/questions/42837066/can-i-create-dynamically-stages-in-a-jenkins-pipeline

One per layer is the sensible option. Most layers run in 10 to 30 seconds when run standalone, so the burst will clear quick. We have two executors per node per real core exactly to allow for something like this, where any slack caused by waiting on IO can be picked up by somethi

[2018-10-16 16:46] Rotonen commented on #67
Also this way I do not need to solve the Robot output HTML writing for running the layers in parallel in the same workspace.

We can also do two layer discovery runs, one for Robot and one for the rest and have all the Robot ones still split further, per layer per testclass (AKA per Robot suite).

[2018-10-16 21:48] Rotonen commented on #67
Also this way we could give the Robot suites a retry threshold.

[2018-10-17 05:30] gforcada commented on #67
Giving it another though, I remember that Timo had some problems at the beginning regarding copying the environment from one step (according to Jenkins docs regarding pipelines) to another one. If we split too much, we might notice that the time to set up/teardown a step is quite high regarding the time it spends running the tests.

If that is still the case we could think of a simple pipeline tha

[2018-10-17 13:46] Rotonen commented on #67
Meh. I'll give the massive burst a spin. I find considering optimisation premature at this point.

We cannot give a weight to pipeline jobs, which sucks, as we then should not parallelise in-build if we use a pipeline.

[2018-10-18 21:44] gforcada commented on #67
That's what we have right now, should I add this ``abi-tag-eggs = true`` ?

[code]

[2018-10-18 21:52] gforcada commented on #67
I already added it to all nodes.

[2018-10-19 00:45] tisto commented on #67
@Rotonen @gforcada FYI: I have a coredev pipeline up and running:

https://github.com/plone/buildout.coredev/blob/5.2/Jenkinsfile

Copying python envs is a major problem and it seems neither virtualenv nor pipenv have solved that in any way. I tried different approaches and ended up with creating a tgz and passing that around as a build. Don't try to stash the entire buildout dir, that will take a

[2018-10-19 09:43] Rotonen commented on #67
@tisto the issue with how the stash functionality is low is mostly the massive CPU congestion on uncompressing the stashes in bursts. We'd need some other mechanism to pass artefacts around, as the Jenkins docs suggest - then we could just pass around an uncompressed tarball of the whole buildout as well to avoid hitting git via mr.developer on the subsequent builds. Just rebuilding `parts/` `bin/

[2018-10-20 18:11] tisto commented on #67
@Rotonen I don't get your point. What other mechanism to pass around artifacts do you have in mind? What Jenkins docs are you referring to? The problem of re-running buildout is not speed but that you might end up with a different build. As said, I'd consider that to be a CI anti-pattern.

[2018-10-20 19:05] Rotonen commented on #67
https://jenkins.io/doc/pipeline/steps/workflow-basic-steps/#stash-stash-some-files-to-be-used-later-in-the-build

In benchmarking stashing has been 3 .. 5 times slower for me than a cold buildout.

And preventing ending up with a different build is exactly why I'd like to stash the source checkouts - if one splits the checkouts, and the references used by `mr.developer` are floating references lik

[2018-10-20 20:32] Rotonen commented on #67
Unless the branches on the remotes have gone away in the meanwhile, yes.

`src/` would be safe to archive and pass around, though.

[2018-10-22 10:39] Rotonen commented on #67
After having slept on it, it'd be better if the source checkouts were pinned to commit hashes by whomever pins them, but I guess that's a hard change to incur. Can `mr.roboto` help us do that? I'm not very fond of patching files on the fly.

[2018-10-22 19:51] gforcada commented on #67
@Rotonen what do you want ``mr.roboto`` to do there? :thinking: to update ``sources.cfg`` and change the branch of the package to the current revision in use? :thinking:

That would, at least, break ``mr.roboto`` own functionality to know if a merge requests targets 4.3/5.0/5.1/5.2 as it relies on the target branch of the pull request to be matched on any sources.cfg of buildout.coredev in any of

[2018-10-26 03:58] tisto commented on #67
@Rotonen thanks for the pointer. This paragraph did not exist when I looked around for solutions some time ago. Stashing still kind of works for us though. I'd highly recommend to not try to be too smart when passing around the build artifacts. When it comes to CI, stability, traceability and simplicity trumps speed. Especially when the build step is significantly smaller/faster than the rest of t

[2018-10-26 06:50] Rotonen commented on #67
@tisto we can just pass in any variables to buildout on the command line.

`buildout buildout:always-checkout=false -c core.cfg install test`

This will make `mr.developer` skip git interactions for anything already present on the filesystem at that point.

This is what I've ran my most recent pipeline tests with:

[code]

[2018-10-26 10:48] gforcada commented on #67
@Rotonen nice pipeline, we should stash buildout.coredev as well, or save its commit, as on the parallel tests you are cloning it again and we could easily end up in different commits there. Simple scenario: when you merge two or three (un)related pull requests within a few seconds.

[2018-10-26 10:51] Rotonen commented on #67
@gforcada that's what the now-ill-named`${branch}` is for - that is a build variable.

[2018-10-26 10:57] gforcada commented on #67
@Rotonen oh cool

[2018-10-26 10:59] Rotonen commented on #67
And I'm apparently wrong about how git clone works, but amending that to use `git init` + `git fetch` is a triviality in the end. Will sculpt one later.

[2018-10-26 11:02] Rotonen commented on #67
For the convenience of trying it out locally to evaluate:
[code]

[2018-11-10 19:55] #212 closed

[2018-11-10 19:57] gforcada commented on #76
The situation is far better now, we only have a few commits on top of their code and is really easy to maintain, and on top of that we don't really have to bump it that much frequently anyway.

[2018-11-10 19:57] #76 closed

[2018-11-10 19:59] #29 closed

[2018-11-10 20:01] gforcada commented on #221
@plone/documentation-team ping :smile:

[2018-11-11 10:16] gforcada commented on #235
@tisto regarding the first point... do they told you of an actual hard deadline? :thinking: we just get moving that fast even if it takes one year to shut down that vServer.

And given the cheapness of the servers currently on hetzner it should not be a problem.

[2018-11-11 21:12] gforcada opened #247 "Run tests in random order"
I created this job: https://jenkins.plone.org/view/Experimental/job/Shuffle%20tests (it boils down to `bin/test --shuffle`).

On the first run we manage to create a stackoverflow! https://jenkins.plone.org/view/Experimental/job/Shuffle%20tests/1/console

On the second run only 4 test failures: https://jenkins.plone.org/view/Experimental/job/Shuffle%20tests/2/console

I set it to run once a week.

[2018-11-12 11:18] Rotonen commented on #247
Yes, someone should attend to everything it finds. So we need to find someone interested in the quest and to have that person notified.

As for the run itself, it is doing exactly what that one should do.

[2018-11-28 13:16] mauritsvanrees opened #249 "No space left on device. Node 5."
See https://jenkins.plone.org/job/plone-5.2-python-2.7/2340/testReport/Products.CMFPlone.tests.testMigrationTool/TestMigrationTool/testDoUpgrades/

[2018-11-28 21:54] gforcada commented on #249
Yes, sorry, I did not see that. Cleaning it now!

[2018-11-28 21:54] #249 closed

[2018-12-11 10:16] agitator opened #250 "Problem accessing /job/pull-request-5.1/. Reason: Not Found"
jenkins at https://jenkins.plone.org/job/pull-request-5.1/ not available

[2018-12-11 16:23] agitator commented on #250
@gforcada @tisto ping?

[2018-12-11 19:47] gforcada commented on #250
Seems to be for anonymous users only... when logged in it works :confused:

[2018-12-12 08:09] agitator commented on #250
<img width="1257" alt="screenshot 2018-12-12 at 09 07 48" src="https://user-images.githubusercontent.com/365761/49855410-782b9a00-fded-11e8-8dc4-7436833921e4.png">
<img width="1257" alt="screenshot 2018-12-12 at 09 07 57" src="https://user-images.githubusercontent.com/365761/49855412-795cc700-fded-11e8-9d14-90606acd3213.png">

Cannot confirm, just tried with Firefox, Safari and Chrome

[2018-12-12 09:08] gforcada commented on #250
I thought that it has to do with the new LTS release I upgrade it to (2.150.1) that has this: https://jenkins.io/redirect/stapler-routing/ but I don't see any messages on the Jenkins logs :confused:

I'm investigating further :mag:

[2018-12-12 11:57] gforcada commented on #250
Yes, there was a plugin (github authentication) that needed an upgrade as well.

[2018-12-12 11:57] #250 closed

[2018-12-19 21:21] jensens opened #251 "Node with "No space left on device""
https://jenkins.plone.org/job/pull-request-5.2/1758/console
[code]

[2018-12-19 21:22] jensens commented on #251
Seems to be Node 5

[2018-12-20 08:09] gforcada commented on #251
Done!

[2018-12-20 08:09] #251 closed

[2019-02-05 16:54] mauritsvanrees opened #253 "No longer test Plone 5.0"
Plone 5.0.10 has been soft released a while ago and should be officially released really soon.
This should be the last release in the 5.0.x series, so we should stop testing it.
From the top of my head:

- [x] Update mr.roboto to not check if a PR needs to be tested against the coredev 5.0.x branch.
- [x] Remove the Pull Request 5.0 job
- [x] Remove the jobs Plone 5.0 Python 2.7, Archetypes, Robot

[2019-02-05 21:39] gforcada commented on #253
Can we include, the already long ago disabled, 4.3 on python 2.6? :cherries:

[2019-02-05 21:50] gforcada commented on #253
There were some more 5.0 jobs (translations, theme, addons...) but they are gone: https://github.com/plone/jenkins.plone.org/commit/d073fca367676d1694b7f3046d858c459d18bc89

[2019-02-05 21:55] mauritsvanrees commented on #253
Thanks!

Yes, 4.3 on Python 2.6 can be removed in my opinion. It is already not visible anymore on the Jenkins homepage.

[2019-02-05 21:56] gforcada commented on #253
What should we do with these bugs: https://github.com/plone/Products.CMFPlone/issues?q=is%3Aopen+is%3Aissue+milestone%3A%22Plone+5.0.x%22 they were reported against 5.0.x

Can we mass close them with a comment to reopen if they are still a problem on 5.1/5.2? :thinking: @plone/framework-team do we have any policy on that? :thinking: @ebrehault this should be a discussion point for the next meeting

[2019-02-05 21:57] gforcada commented on #253
I already removed them :+1:

[2019-02-05 22:37] gforcada commented on #253
mr.roboto is also updated, no commits here as it is a setting :smile:

[2019-02-05 22:37] #253 closed

[2019-02-09 21:05] gforcada opened #255 "rawgit will shut down within this year (2019)"
We are using it to server CSS, JS an images for the (tweaked) theme we use at jenkins.plone.org.

The files are currently in this repository on the files folder.

[2019-03-05 16:19] jensens opened #256 "Low number of Nodes?"
I found Jenkins runs on one node only at the moment.

Also the BlueDynamics Alliance provided node (tau) seems not to be connected (server Idles all the time). If there is anything I can do to help please ping me.

[2019-03-05 22:36] gforcada commented on #256
Node5 and Node7 were the servers provided by the Foundation that were rented since October/November for sprints/conference and they are over now (get a sprint and ask for budget again :+1: )

Node4 is the one you generously provided. Some weeks/month ago was behaving weirdly, lots of errors and was significantly slow, so I took it out, or it was disconnecting itself, can't remember exactly now.

I

[2019-03-06 00:40] gforcada commented on #256
It is up and running, if any of you spot that it behaves weirdly, report it and we can disable it again. Hopefully not :smile:

[2019-03-06 00:40] #256 closed

[2019-03-06 08:49] jensens commented on #256
Hmm, this is local SSD storage and it should just work. Please ping me if it is behaving weird again.

[2019-04-04 09:40] gforcada opened #257 "[PR jobs] Check if the organization is whitelisted"
When submitting pull requests jobs, PR URLs might be from external systems (or on your own fork, or...) so before trying to send an update request to that PR on github, check that we have rights to do so.

See https://jenkins.plone.org/job/pull-request-5.2-3.6/6/console

Thanks to @petschki to report it on https://community.plone.org/t/8299/6

[2019-04-09 07:36] jensens opened #258 "mr.roboto offers to start jenkins jobs for wrong target version"
Jenkins PR jobs for Products.Archetypes on Plone 5.1 are shown for merges into master, but Plone 5.1 uses branch `1.15.x`, so they should not show up for 5.1.
![Screenshot at 2019-04-09 09-34-10](https://user-images.githubusercontent.com/157140/55781539-a58e0900-5aaa-11e9-872c-62d9bcd6d0dd.png)

The buildout fails, for obvious reasons: `masters` dependencies are upgraded for Zope 4:

[code]

[2019-04-09 10:52] gforcada commented on #258
I will try to have a look

[2019-06-21 12:00] jensens opened #260 "nodes overloaded"
for some reason both nodes are overloaded. node2 had a load of 18up.

looking into it it seems firefox but also chromium needs much more CPU. I guess thats b/c of size increase of xvfb size for robot tests.
@pbauer reduced the number of jobs for node1 to 6 and node2 to 4 jobs.

node2 is now included in our prometheus and so we can tell more how it runs with 4 jobs and if its possible to increase t

[2019-07-05 09:50] jensens commented on #260
Both nodes jobs were reduced - seems to be related to robottests increased xvfb size and 4k browser.

[2019-07-05 09:50] #260 closed

[2019-07-05 09:53] jensens opened #261 "Node 2 problems: Missing Python 3.8, polluted caches"
On Node 2 Python 3.8 is missing in `srv`. I guess this is an Ansible thing to install?

Also, it seems the caches are in need of an reset. For some reason we got an CRC error on one file (Pillow).

/cc @pbauer

[2019-07-05 10:38] gforcada commented on #261
When I was installing 3.8 on Node1, Node2 for whichever reason, was not online.

[2019-07-05 10:39] gforcada commented on #261
We can change the firefox jobs, to not run on every commit, but on a weekly basis, as they are not that reliable, it does not make sense anyway to run them on every change... we don't do that already for the pull requests jobs, were we only run robot tests on chrome.

[2019-07-05 10:52] jensens commented on #261
I know, after reboot it was stuck in fsck. I now force to it to repair.

+1

Looks also like the jobs-log at the moment tell us to switch the driver to geckodriver?

[2019-07-05 10:55] gforcada commented on #261
Where do you see that? :thinking:

[2019-07-05 10:59] jensens commented on #261
https://jenkins.plone.org/job/plone-5.2-python-3.8-robot-firefox/2/console
[code]

[2019-07-05 11:05] gforcada commented on #261
I will try to have a look at what's wrong there, it was working before :tm:

[2019-07-05 12:37] gforcada commented on #261
python 3.8 is on Node 2, the polluted caches and the gecko driver are still to be checked

[2019-07-05 12:39] gforcada commented on #261
@jensens were did you see the CRC errors (i.e. the cache problem)? :thinking: providing links is usually a way to get faster responses/actions :+1:

[2019-07-08 08:25] jensens commented on #261
Do we need more disk space? Looks like 40GB are not enough anymore?
[code]

[2019-07-08 21:17] gforcada commented on #261
The more python versions we want to support, the more packages we have to keep on `~/.buildout/eggs` and the more jobs (and their `buildout.coredev` clones we have to keep, etc etc).

So, yes, we do need more space :sweat_smile:

[2019-07-08 21:18] gforcada commented on #261
FYI on `Node1` there are `350Gb` available, `40Gb` used so far.

[2019-07-08 21:23] gforcada commented on #261
As there were no jobs running, I removed all workspaces from `Node` (which removed `16Gb`) but they will eventually come back, maybe some were old workspaces, but I would consider that a low gain if at all.

[2019-07-09 07:23] jensens commented on #261
@gforcada I can provide a fresh machine with 100GB. This one hasn't, for some unknown reason, LVM, so it's difficult to resize. But your setup via Ansible should reduce efforts on your side, right?

[2019-07-09 07:26] jensens commented on #261
@gforcada which base system should I install? Latest Ubuntu Server LTS (18.04)?

[2019-07-09 10:08] gforcada commented on #261
@jensens yes to both, `Node 1` is using `Ubuntu 18.04.2 LTS`, and as soon as I can ssh, as root, into the VM I just need to fire ansible and wait for hours until it finishes (building 3.6, 3.7 and 3.8 with optimizations takes quite a while...)

[2019-07-11 16:20] jensens commented on #261
@gforcada I setup the machine with Ubuntu 18.04.2 LTS, LVM, image on a ZFS zvol with 90GB. Future resizing is no problem. Server has same IP as before, your username is same as here. PW comes on extra channel.

[2019-07-12 07:46] gforcada commented on #261
It is being installed as I type, it will take a few hours though, as the compilation does really take a lot of time :sweat_smile:

[2019-07-12 11:38] jensens commented on #261
No, its the core Python tests (`/python -m test.regrtest --pgo -x test_asyncore test_gdb test_multiprocessing test_subprocess`) that are running which are taking ages. Why do you run them at all? And wouldn't [pyenv](https://github.com/pyenv/pyenv) be the better option to install several Python versions?

[2019-08-23 14:49] mauritsvanrees opened #262 "Disable Firefox tests"
Almost all Plone [5.2 robot tests for Firefox](https://jenkins.plone.org/job/plone-5.2-python-2.7-robot-firefox/270/robot/) are failing, with all or most tests saying:

[code]

And somehow this seems to result in the job lasting more than an hour.  On 5.1 the setup still seems okay, and fast enough, though a few tests always fail. These might be fixable, but it is difficult enough to find people w

[2019-08-23 14:53] mauritsvanrees opened #263 "Hide Plone 5.0 jobs"
The [5.0 jobs](https://jenkins.plone.org/job/plone-5.0-python-2.7/) are not run automatically anymore, because 5.0 is no longer being developed.
So can we hide them from the Core tests on the Jenkins homepage?

I guess it is fine if we keep them visible on the [All tab](https://jenkins.plone.org/view/All/). It seems the jobs can still be started, if someone would want.

[2019-08-23 14:58] tisto commented on #262
my 2c:

- running two browsers in parallel is a lot of effort in the long run
- running the firefox tests weekly will not be any different to not run them at all, nobody will ever care. either run them all the time or never, everything in between won't work

-> disable the firefox tests and only run chrome tests

[2019-08-25 16:54] tisto commented on #263
I currently do not have access to the Jenkins UI as an admin. If @gforcada grants me access I could help with this. Apart from that issue I am +1 to remove the 5.0 jobs from the tab.

[2019-08-26 13:53] gforcada commented on #263
@mauritsvanrees they are gone from the main view.

[2019-08-26 13:53] #263 closed

[2019-08-26 13:58] gforcada commented on #262
That's interesting, the geckodriver is supposed to be new enough, someone would have to dig why that happens only for 5.2 but not on the others :confused:

As for disabling them partially or completely, I would rather keep it

[2019-09-30 10:11] mauritsvanrees commented on #262
Strangely, *some* firefox tests *do* pass.

- This [`plone.app.discussion` test](https://jenkins.plone.org/job/plone-5.2-python-3.7-robot-firefox/lastCompletedBuild/robot/report/robot_log.html#s1-s34-t2-k1) **succeeds**, doing `selenium.Open test browser`.
- This [`plone.app.contenttypes` test](https://jenkins.plone.org/job/plone-5.2-python-3.7-robot-firefox/lastCompletedBuild/robot/report/robot_l

[2019-09-30 10:17] mauritsvanrees commented on #262
On 5.1 with Firefox, [opening a saucelabs browser](https://jenkins.plone.org/job/plone-5.1-python-2.7-robot-firefox/108/robot/report/robot_log.html#s1-s1-t1-k1-k1) works fine.
Strange.

[2019-10-13 20:25] mauritsvanrees opened #264 "IOError: [Errno 28] No space left on device"
See for example [this job](https://jenkins.plone.org/job/plone-5.1-python-2.7/121/console).

And [this one](https://jenkins.plone.org/job/plone-5.2-python-2.7-robot-chrome/385/console) has lots of other errors, but "no space left" also sprinkled in, so that is probably the cause of the other errors.

Jenkins has gotten a lot of jobs the past few days, so that may explain.

[2019-10-14 14:17] gforcada commented on #264
That's almost all on the `/tmp` folder, being cleaned it as I type

[2019-10-14 14:17] #264 closed

[2019-10-28 21:41] mauritsvanrees commented on #262
So which versions of Firefox and GeckoDriver do we have?
Is that on the 5.2 jobs different from the 5.1 jobs?

From the [geckodriver changelog](https://searchfox.org/mozilla-central/source/testing/geckodriver/CHANGES.md):

[code]

Selenium is at version 3.14 in coredev 5.1, and that works.
Coredev 5.2 is at Selenium version 3.141.0.
Reverting does not help locally.
The [Selenium Python changelog](

[2019-10-30 10:06] gforcada commented on #262
We are supposed to be using FF 63 and geckodriver 0.23, see https://github.com/plone/plone.jenkins_node/blob/master/defaults/main.yml

I will see if I can bump them to newer versions, FF70 might be too new, but the next FF LTS, whichever is, might be a good candidate

[2019-10-30 13:53] mauritsvanrees opened #267 "Errno 28 No space left on device"
See [5.1 PR job](https://jenkins.plone.org/job/pull-request-5.1/155/testReport/junit/Products.Archetypes.tests.test_copying/PortalCopyTests/test_clone_portal/)

[2019-10-30 14:34] gforcada commented on #267
*/tmp is being cleaned*

[2019-10-30 14:38] gforcada commented on #267
[code]

And until `339Gb` of tests leftovers are generated, this issue can be closed :sweat_smile:

/me wonders about tests generating THAT much leftovers...

[2019-10-30 14:43] mauritsvanrees commented on #267
Awesome! Thanks. Good to see you active. :-)

[2019-12-03 09:10] mauritsvanrees commented on #267
No space left again, see for example this [5.1 job](https://jenkins.plone.org/job/plone-5.1-python-2.7/140/console).

Maybe cleaning up `/tmp` can be added as a regular cronjob?

[2019-12-03 15:21] gforcada commented on #267
@mauritsvanrees that's exactly what I did, every day at 5 AM it will clean up it.

[2019-12-03 15:21] #267 closed

[2019-12-09 16:23] pbauer opened #268 "Add core-jobs and pull-request jobs for Plone 6"
Only Python 3! 😄

[2019-12-09 18:02] pbauer opened #269 "Add pull-request job for 5.2 on py3.8 to mr.roboto"
Also all the Py3.8 jobs for Plone 5.2 seem broken.
Maybe because of outdated bytecode (pyc-files):

[code]

[2019-12-09 19:05] jensens commented on #268
But which of Python 3.[6|7|8]?

[2019-12-09 19:09] pbauer commented on #268
All of the above. End-of-life for 3.6 is only end of 2021. See https://devguide.python.org/#status-of-python-branches

[2019-12-10 13:36] #268 closed

[2019-12-10 13:37] gforcada commented on #269
I will try to have a look at night.

[2019-12-19 10:30] #261 closed

[2020-02-06 09:57] mauritsvanrees commented on #262
The Firefox tests on Plone 5.2 are still completely broken. On Plone 5.1 the situation is much better, but still 13 out of 116 tests fail.

And we already have trouble enough keeping the Chrome tests running. See for example `plone.app.multilingual` [PR 366](https://github.com/plone/plone.app.multilingual/pull/366) where I try and fail to fix a most-of-the-time-failing test. For the same package I

[2020-02-06 10:01] mauritsvanrees opened #270 "Extra node for Alpine City Sprint?"
Would it be possible to temporarily get an extra node to run jobs? That would be helpful for next week's sprint.
I guess for one week the budget would not be a problem. But still someone from the testing team (or admins team?) would need to have time to set it up.

[2020-02-07 12:10] gforcada commented on #270
So far it seems I'm the only one that can actually bootstrap that. If I get access to the server (Ubuntu 18.04 would be best, as that's what the current node is using) I can configure it given a day of time ahead.

[2020-02-10 11:53] mauritsvanrees commented on #270
@jensens has offered a VM, details in a mail I just sent you.

[2020-02-10 12:37] gforcada commented on #270
@mauritsvanrees cool, I have work and home errands to do, but by night I will try to get it set up :+1:

[2020-02-10 16:51] ale-rt commented on #270
@gforcada Syslab can also sponsor a VM, can you give me the details on what is needed?

[2020-02-10 18:32] gforcada commented on #270
@ale-rt a ubuntu 18.04 VM with root access. That's about it. The more CPUs the better, not so much about RAM (2-3Gb ?), and as much HD as you wish, lately jobs leave LOTS of files around, so 50-100 Gb would be best

[2020-02-10 18:33] gforcada commented on #270
@ale-rt if you add  my ssh key https://github.com/gforcada.keys on the server just send me the IP and that would be it :+1:

[2020-02-14 17:49] ale-rt opened #271 "Node setup might be suboptimal"
See https://jenkins.plone.org/job/pull-request-5.2-3.6/892:
[code]
Info about the build environment: https://jenkins.plone.org/job/pull-request-5.2-3.6/892/injectedEnvVars/

[2020-02-14 17:49] ale-rt commented on #271
CC @plone/testing-team

[2020-02-24 10:40] mauritsvanrees commented on #262
The Firefox tests seem to have been disabled. Thanks.

[2020-02-24 10:40] #262 closed

[2020-03-03 20:43] #270 closed

[2020-04-02 18:01] msant0 commented on #138
@gforcada the links you sent are currently down, would you have any new material to solve the problem? I am facing the same situation.

[2020-04-02 18:01] msant0 commented on #138
@gforcada the links you sent are currently down, would you have any new material to solve the problem? I am facing the same situation.

[2020-04-02 21:22] gforcada commented on #138
Unfortunately not, where are you seeing that? :thinking:

[2020-04-02 23:29] msant0 commented on #138
I was able to find my problem, I'm having version problems even on nodejs together with phantom-js, in this file I create the test reports file

[2020-06-10 16:23] mauritsvanrees opened #273 "Jenkins is down"
https://jenkins.plone.org is down since at least two hours. I get a connection timeout, and a page saying that my browser works and CloudFlare works, but the Jenkins host is down.

[2020-06-11 10:39] gforcada commented on #273
Looks like there is something wrong with the server :-/ I can not even ssh into it

[2020-06-11 10:53] gforcada commented on #273
I'm trying to get to the hetzner console, but I fail to find the details for that @polyester might you have them? I fail to find an email with those details, if I ever had them :confused:

[2020-06-11 11:09] polyester commented on #273
@gforcada I took a look, the hetzner console just said "rebooting", it was stuck there. So did a "power off" "power on" now